<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="aaf0a4">  <td>17/04/18 12:42:44</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BrowserStackTestNGTest.tearDown()[pri:0, instance:zeusQA2.TC22_Zoom_In@5f341870]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@504527234</td>   <td></td> </tr>
<tr bgcolor="687592">  <td>17/04/18 12:42:44</td>   <td>-11</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC22_Zoom_In.zoom_In()[pri:0, instance:zeusQA2.TC22_Zoom_In@5f341870]">zoom_In</td> 
  <td>main@504527234</td>   <td></td> </tr>
</table>
