<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>BackBoneLibrary</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="8da5ba">  <td>17/08/07 21:40:26</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BrowserStackTestNGTest.setUp(java.lang.String, java.lang.String)[pri:0, instance:stagingQA1.TC1_To_verify_page_load_on_browser@dafa95]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@8729189</td>   <td></td> </tr>
<tr bgcolor="fbd876">  <td>17/08/07 21:40:52</td>   <td>26119</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TC1_To_verify_page_load_on_browser.handleTestMethodName(java.lang.reflect.Method)[pri:0, instance:stagingQA1.TC1_To_verify_page_load_on_browser@dafa95]">&gt;&gt;handleTestMethodName</td> 
<td>&nbsp;</td>  <td>main@8729189</td>   <td></td> </tr>
<tr bgcolor="fbd876">  <td>17/08/07 21:40:52</td>   <td>26119</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC1_To_verify_page_load_on_browser.verify_page_load_on_browser()[pri:0, instance:stagingQA1.TC1_To_verify_page_load_on_browser@dafa95]">verify_page_load_on_browser</td> 
  <td>main@8729189</td>   <td></td> </tr>
<tr bgcolor="fbd876">  <td>17/08/07 21:41:09</td>   <td>43035</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TC1_To_verify_page_load_on_browser.getResult(org.testng.ITestResult)[pri:0, instance:stagingQA1.TC1_To_verify_page_load_on_browser@dafa95]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@8729189</td>   <td></td> </tr>
<tr bgcolor="8da5ba">  <td>17/08/07 21:41:39</td>   <td>73200</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BrowserStackTestNGTest.tearDown()[pri:0, instance:stagingQA1.TC1_To_verify_page_load_on_browser@dafa95]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@8729189</td>   <td></td> </tr>
<tr bgcolor="8da5ba">  <td>17/08/07 21:41:40</td>   <td>73581</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BrowserStackTestNGTest.setUp(java.lang.String, java.lang.String)[pri:0, instance:stagingQA1.TC2_To_verify_regionalmap_presented_on_page_load@100df86]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@8729189</td>   <td></td> </tr>
<tr bgcolor="8bcfcb">  <td>17/08/07 21:42:05</td>   <td>99015</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TC2_To_verify_regionalmap_presented_on_page_load.handleTestMethodName(java.lang.reflect.Method)[pri:0, instance:stagingQA1.TC2_To_verify_regionalmap_presented_on_page_load@100df86]">&gt;&gt;handleTestMethodName</td> 
<td>&nbsp;</td>  <td>main@8729189</td>   <td></td> </tr>
<tr bgcolor="8bcfcb">  <td>17/08/07 21:42:05</td>   <td>99015</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC2_To_verify_regionalmap_presented_on_page_load.verify_regionalmap_presented_on_page_load()[pri:0, instance:stagingQA1.TC2_To_verify_regionalmap_presented_on_page_load@100df86]">verify_regionalmap_presented_on_page_load</td> 
  <td>main@8729189</td>   <td></td> </tr>
<tr bgcolor="8bcfcb">  <td>17/08/07 21:42:28</td>   <td>121858</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TC2_To_verify_regionalmap_presented_on_page_load.getResult(org.testng.ITestResult)[pri:0, instance:stagingQA1.TC2_To_verify_regionalmap_presented_on_page_load@100df86]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@8729189</td>   <td></td> </tr>
<tr bgcolor="8da5ba">  <td>17/08/07 21:42:28</td>   <td>121858</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BrowserStackTestNGTest.tearDown()[pri:0, instance:stagingQA1.TC2_To_verify_regionalmap_presented_on_page_load@100df86]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@8729189</td>   <td></td> </tr>
<tr bgcolor="8da5ba">  <td>17/08/07 21:42:56</td>   <td>149697</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BrowserStackTestNGTest.setUp(java.lang.String, java.lang.String)[pri:0, instance:stagingQA1.TC4_Blank_address_search_textbox@2a079c]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@8729189</td>   <td></td> </tr>
<tr bgcolor="e8b466">  <td>17/08/07 21:43:23</td>   <td>176261</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TC4_Blank_address_search_textbox.handleTestMethodName(java.lang.reflect.Method)[pri:0, instance:stagingQA1.TC4_Blank_address_search_textbox@2a079c]">&gt;&gt;handleTestMethodName</td> 
<td>&nbsp;</td>  <td>main@8729189</td>   <td></td> </tr>
<tr bgcolor="e8b466">  <td>17/08/07 21:43:23</td>   <td>176261</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC4_Blank_address_search_textbox.blank_address_search_textbox()[pri:0, instance:stagingQA1.TC4_Blank_address_search_textbox@2a079c]">blank_address_search_textbox</td> 
  <td>main@8729189</td>   <td></td> </tr>
<tr bgcolor="e8b466">  <td>17/08/07 21:43:23</td>   <td>176268</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TC4_Blank_address_search_textbox.getResult(org.testng.ITestResult)[pri:0, instance:stagingQA1.TC4_Blank_address_search_textbox@2a079c]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@8729189</td>   <td></td> </tr>
<tr bgcolor="8da5ba">  <td>17/08/07 21:43:23</td>   <td>176268</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BrowserStackTestNGTest.tearDown()[pri:0, instance:stagingQA1.TC4_Blank_address_search_textbox@2a079c]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@8729189</td>   <td></td> </tr>
<tr bgcolor="8da5ba">  <td>17/08/07 21:43:46</td>   <td>200060</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BrowserStackTestNGTest.setUp(java.lang.String, java.lang.String)[pri:0, instance:stagingQA1.TC5_Special_characters_in_the_search_textbox@1ec2012]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@8729189</td>   <td></td> </tr>
<tr bgcolor="756ead">  <td>17/08/07 21:44:11</td>   <td>225165</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TC5_Special_characters_in_the_search_textbox.handleTestMethodName(java.lang.reflect.Method)[pri:0, instance:stagingQA1.TC5_Special_characters_in_the_search_textbox@1ec2012]">&gt;&gt;handleTestMethodName</td> 
<td>&nbsp;</td>  <td>main@8729189</td>   <td></td> </tr>
<tr bgcolor="756ead">  <td>17/08/07 21:44:11</td>   <td>225165</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC5_Special_characters_in_the_search_textbox.special_characters_in_the_search_textbox()[pri:0, instance:stagingQA1.TC5_Special_characters_in_the_search_textbox@1ec2012]">special_characters_in_the_search_textbox</td> 
  <td>main@8729189</td>   <td></td> </tr>
<tr bgcolor="756ead">  <td>17/08/07 21:45:02</td>   <td>275806</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TC5_Special_characters_in_the_search_textbox.getResult(org.testng.ITestResult)[pri:0, instance:stagingQA1.TC5_Special_characters_in_the_search_textbox@1ec2012]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@8729189</td>   <td></td> </tr>
<tr bgcolor="8da5ba">  <td>17/08/07 21:45:02</td>   <td>275806</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BrowserStackTestNGTest.tearDown()[pri:0, instance:stagingQA1.TC5_Special_characters_in_the_search_textbox@1ec2012]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@8729189</td>   <td></td> </tr>
<tr bgcolor="8da5ba">  <td>17/08/07 21:45:03</td>   <td>276337</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BrowserStackTestNGTest.setUp(java.lang.String, java.lang.String)[pri:0, instance:stagingQA1.TC6_valid_postal_code@f777e8]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@8729189</td>   <td></td> </tr>
<tr bgcolor="6e8abd">  <td>17/08/07 21:45:17</td>   <td>291134</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TC6_valid_postal_code.handleTestMethodName(java.lang.reflect.Method)[pri:0, instance:stagingQA1.TC6_valid_postal_code@f777e8]">&gt;&gt;handleTestMethodName</td> 
<td>&nbsp;</td>  <td>main@8729189</td>   <td></td> </tr>
<tr bgcolor="6e8abd">  <td>17/08/07 21:45:17</td>   <td>291134</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC6_valid_postal_code.valid_postal_code()[pri:0, instance:stagingQA1.TC6_valid_postal_code@f777e8]">valid_postal_code</td> 
  <td>main@8729189</td>   <td></td> </tr>
<tr bgcolor="6e8abd">  <td>17/08/07 21:45:38</td>   <td>311919</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TC6_valid_postal_code.getResult(org.testng.ITestResult)[pri:0, instance:stagingQA1.TC6_valid_postal_code@f777e8]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@8729189</td>   <td></td> </tr>
<tr bgcolor="8da5ba">  <td>17/08/07 21:45:38</td>   <td>311919</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BrowserStackTestNGTest.tearDown()[pri:0, instance:stagingQA1.TC6_valid_postal_code@f777e8]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@8729189</td>   <td></td> </tr>
<tr bgcolor="8da5ba">  <td>17/08/07 21:46:02</td>   <td>335600</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BrowserStackTestNGTest.setUp(java.lang.String, java.lang.String)[pri:0, instance:stagingQA1.TC7_invalid_postal_code@1686d1f]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@8729189</td>   <td></td> </tr>
<tr bgcolor="eff760">  <td>17/08/07 21:46:26</td>   <td>360158</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TC7_invalid_postal_code.handleTestMethodName(java.lang.reflect.Method)[pri:0, instance:stagingQA1.TC7_invalid_postal_code@1686d1f]">&gt;&gt;handleTestMethodName</td> 
<td>&nbsp;</td>  <td>main@8729189</td>   <td></td> </tr>
<tr bgcolor="eff760">  <td>17/08/07 21:46:26</td>   <td>360158</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC7_invalid_postal_code.valid_postal_code()[pri:0, instance:stagingQA1.TC7_invalid_postal_code@1686d1f]">valid_postal_code</td> 
  <td>main@8729189</td>   <td></td> </tr>
<tr bgcolor="8da5ba">  <td>17/08/07 21:46:46</td>   <td>379595</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BrowserStackTestNGTest.tearDown()[pri:0, instance:stagingQA1.TC7_invalid_postal_code@1686d1f]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@8729189</td>   <td></td> </tr>
<tr bgcolor="8da5ba">  <td>17/08/07 21:47:13</td>   <td>406600</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BrowserStackTestNGTest.setUp(java.lang.String, java.lang.String)[pri:0, instance:stagingQA1.TC8_valid_city_and_state_name@1ee9989]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@8729189</td>   <td></td> </tr>
<tr bgcolor="8f92ff">  <td>17/08/07 21:48:04</td>   <td>457749</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TC8_valid_city_and_state_name.handleTestMethodName(java.lang.reflect.Method)[pri:0, instance:stagingQA1.TC8_valid_city_and_state_name@1ee9989]">&gt;&gt;handleTestMethodName</td> 
<td>&nbsp;</td>  <td>main@8729189</td>   <td></td> </tr>
<tr bgcolor="8f92ff">  <td>17/08/07 21:48:04</td>   <td>457749</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC8_valid_city_and_state_name.valid_postal_code()[pri:0, instance:stagingQA1.TC8_valid_city_and_state_name@1ee9989]">valid_postal_code</td> 
  <td>main@8729189</td>   <td></td> </tr>
<tr bgcolor="8da5ba">  <td>17/08/07 21:48:28</td>   <td>482005</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BrowserStackTestNGTest.tearDown()[pri:0, instance:stagingQA1.TC8_valid_city_and_state_name@1ee9989]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@8729189</td>   <td></td> </tr>
<tr bgcolor="8da5ba">  <td>17/08/07 21:48:56</td>   <td>509457</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BrowserStackTestNGTest.setUp(java.lang.String, java.lang.String)[pri:0, instance:stagingQA1.TC10_valid_cityName_invalid_state@13ad2d6]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@8729189</td>   <td></td> </tr>
<tr bgcolor="9f8bb1">  <td>17/08/07 21:49:10</td>   <td>524060</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TC10_valid_cityName_invalid_state.handleTestMethodName(java.lang.reflect.Method)[pri:0, instance:stagingQA1.TC10_valid_cityName_invalid_state@13ad2d6]">&gt;&gt;handleTestMethodName</td> 
<td>&nbsp;</td>  <td>main@8729189</td>   <td></td> </tr>
<tr bgcolor="9f8bb1">  <td>17/08/07 21:49:10</td>   <td>524060</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC10_valid_cityName_invalid_state.valid_cityName_invalid_state()[pri:0, instance:stagingQA1.TC10_valid_cityName_invalid_state@13ad2d6]">valid_cityName_invalid_state</td> 
  <td>main@8729189</td>   <td></td> </tr>
<tr bgcolor="9f8bb1">  <td>17/08/07 21:49:28</td>   <td>541840</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TC10_valid_cityName_invalid_state.getResult(org.testng.ITestResult)[pri:0, instance:stagingQA1.TC10_valid_cityName_invalid_state@13ad2d6]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@8729189</td>   <td></td> </tr>
<tr bgcolor="8da5ba">  <td>17/08/07 21:49:28</td>   <td>541840</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BrowserStackTestNGTest.tearDown()[pri:0, instance:stagingQA1.TC10_valid_cityName_invalid_state@13ad2d6]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@8729189</td>   <td></td> </tr>
<tr bgcolor="8da5ba">  <td>17/08/07 21:49:52</td>   <td>565799</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BrowserStackTestNGTest.setUp(java.lang.String, java.lang.String)[pri:0, instance:stagingQA1.TC11_Valid_StreetAddress_City_and_StateProvince_provided@85bdee]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@8729189</td>   <td></td> </tr>
<tr bgcolor="e9a889">  <td>17/08/07 21:50:17</td>   <td>591002</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TC11_Valid_StreetAddress_City_and_StateProvince_provided.handleTestMethodName(java.lang.reflect.Method)[pri:0, instance:stagingQA1.TC11_Valid_StreetAddress_City_and_StateProvince_provided@85bdee]">&gt;&gt;handleTestMethodName</td> 
<td>&nbsp;</td>  <td>main@8729189</td>   <td></td> </tr>
<tr bgcolor="e9a889">  <td>17/08/07 21:50:17</td>   <td>591002</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC11_Valid_StreetAddress_City_and_StateProvince_provided.valid_cityName_invalid_state()[pri:0, instance:stagingQA1.TC11_Valid_StreetAddress_City_and_StateProvince_provided@85bdee]">valid_cityName_invalid_state</td> 
  <td>main@8729189</td>   <td></td> </tr>
<tr bgcolor="e9a889">  <td>17/08/07 21:50:28</td>   <td>602021</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TC11_Valid_StreetAddress_City_and_StateProvince_provided.getResult(org.testng.ITestResult)[pri:0, instance:stagingQA1.TC11_Valid_StreetAddress_City_and_StateProvince_provided@85bdee]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@8729189</td>   <td></td> </tr>
<tr bgcolor="8da5ba">  <td>17/08/07 21:50:28</td>   <td>602021</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BrowserStackTestNGTest.tearDown()[pri:0, instance:stagingQA1.TC11_Valid_StreetAddress_City_and_StateProvince_provided@85bdee]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@8729189</td>   <td></td> </tr>
<tr bgcolor="8da5ba">  <td>17/08/07 21:50:55</td>   <td>628920</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BrowserStackTestNGTest.setUp(java.lang.String, java.lang.String)[pri:0, instance:stagingQA1.TC12_Invalid_Street_address_with_valid_CityName_and_valid_StateName@e92674]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@8729189</td>   <td></td> </tr>
<tr bgcolor="8a60e3">  <td>17/08/07 21:51:19</td>   <td>652384</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TC12_Invalid_Street_address_with_valid_CityName_and_valid_StateName.handleTestMethodName(java.lang.reflect.Method)[pri:0, instance:stagingQA1.TC12_Invalid_Street_address_with_valid_CityName_and_valid_StateName@e92674]">&gt;&gt;handleTestMethodName</td> 
<td>&nbsp;</td>  <td>main@8729189</td>   <td></td> </tr>
<tr bgcolor="8a60e3">  <td>17/08/07 21:51:19</td>   <td>652384</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC12_Invalid_Street_address_with_valid_CityName_and_valid_StateName.invalid_Street_address_with_valid_CityName_and_valid_StateName()[pri:0, instance:stagingQA1.TC12_Invalid_Street_address_with_valid_CityName_and_valid_StateName@e92674]">invalid_Street_address_with_valid_CityName_and_valid_StateName</td> 
  <td>main@8729189</td>   <td></td> </tr>
<tr bgcolor="8a60e3">  <td>17/08/07 21:51:30</td>   <td>663598</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TC12_Invalid_Street_address_with_valid_CityName_and_valid_StateName.getResult(org.testng.ITestResult)[pri:0, instance:stagingQA1.TC12_Invalid_Street_address_with_valid_CityName_and_valid_StateName@e92674]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@8729189</td>   <td></td> </tr>
<tr bgcolor="8da5ba">  <td>17/08/07 21:51:30</td>   <td>663598</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BrowserStackTestNGTest.tearDown()[pri:0, instance:stagingQA1.TC12_Invalid_Street_address_with_valid_CityName_and_valid_StateName@e92674]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@8729189</td>   <td></td> </tr>
<tr bgcolor="8da5ba">  <td>17/08/07 21:51:54</td>   <td>687382</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BrowserStackTestNGTest.setUp(java.lang.String, java.lang.String)[pri:0, instance:stagingQA1.TC22_Zoom_In@100d6b1]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@8729189</td>   <td></td> </tr>
<tr bgcolor="8b7f67">  <td>17/08/07 21:52:26</td>   <td>719544</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TC22_Zoom_In.handleTestMethodName(java.lang.reflect.Method)[pri:0, instance:stagingQA1.TC22_Zoom_In@100d6b1]">&gt;&gt;handleTestMethodName</td> 
<td>&nbsp;</td>  <td>main@8729189</td>   <td></td> </tr>
<tr bgcolor="8b7f67">  <td>17/08/07 21:52:26</td>   <td>719544</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC22_Zoom_In.zoom_In()[pri:0, instance:stagingQA1.TC22_Zoom_In@100d6b1]">zoom_In</td> 
  <td>main@8729189</td>   <td></td> </tr>
<tr bgcolor="8b7f67">  <td>17/08/07 21:53:07</td>   <td>760709</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TC22_Zoom_In.getResult(org.testng.ITestResult)[pri:0, instance:stagingQA1.TC22_Zoom_In@100d6b1]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@8729189</td>   <td></td> </tr>
<tr bgcolor="8da5ba">  <td>17/08/07 21:53:07</td>   <td>760709</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BrowserStackTestNGTest.tearDown()[pri:0, instance:stagingQA1.TC22_Zoom_In@100d6b1]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@8729189</td>   <td></td> </tr>
<tr bgcolor="8da5ba">  <td>17/08/07 21:53:07</td>   <td>760926</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BrowserStackTestNGTest.setUp(java.lang.String, java.lang.String)[pri:0, instance:stagingQA1.TC23_Zoom_out@fd02e5]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@8729189</td>   <td></td> </tr>
<tr bgcolor="c7a4e4">  <td>17/08/07 21:53:21</td>   <td>774887</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TC23_Zoom_out.handleTestMethodName(java.lang.reflect.Method)[pri:0, instance:stagingQA1.TC23_Zoom_out@fd02e5]">&gt;&gt;handleTestMethodName</td> 
<td>&nbsp;</td>  <td>main@8729189</td>   <td></td> </tr>
<tr bgcolor="c7a4e4">  <td>17/08/07 21:53:21</td>   <td>774887</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC23_Zoom_out.zoom_out()[pri:0, instance:stagingQA1.TC23_Zoom_out@fd02e5]">zoom_out</td> 
  <td>main@8729189</td>   <td></td> </tr>
<tr bgcolor="c7a4e4">  <td>17/08/07 21:53:38</td>   <td>791920</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TC23_Zoom_out.getResult(org.testng.ITestResult)[pri:0, instance:stagingQA1.TC23_Zoom_out@fd02e5]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@8729189</td>   <td></td> </tr>
<tr bgcolor="8da5ba">  <td>17/08/07 21:53:38</td>   <td>791920</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BrowserStackTestNGTest.tearDown()[pri:0, instance:stagingQA1.TC23_Zoom_out@fd02e5]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@8729189</td>   <td></td> </tr>
<tr bgcolor="8da5ba">  <td>17/08/07 21:54:01</td>   <td>814448</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BrowserStackTestNGTest.setUp(java.lang.String, java.lang.String)[pri:0, instance:stagingQA1.TC25_Result_Panel_Click_on_Bubble@1cab519]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@8729189</td>   <td></td> </tr>
<tr bgcolor="78f375">  <td>17/08/07 21:54:16</td>   <td>829887</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TC25_Result_Panel_Click_on_Bubble.handleTestMethodName(java.lang.reflect.Method)[pri:0, instance:stagingQA1.TC25_Result_Panel_Click_on_Bubble@1cab519]">&gt;&gt;handleTestMethodName</td> 
<td>&nbsp;</td>  <td>main@8729189</td>   <td></td> </tr>
<tr bgcolor="78f375">  <td>17/08/07 21:54:16</td>   <td>829890</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC25_Result_Panel_Click_on_Bubble.result_Panel_Click_on_Bubble()[pri:0, instance:stagingQA1.TC25_Result_Panel_Click_on_Bubble@1cab519]">result_Panel_Click_on_Bubble</td> 
  <td>main@8729189</td>   <td></td> </tr>
<tr bgcolor="78f375">  <td>17/08/07 21:54:37</td>   <td>850677</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TC25_Result_Panel_Click_on_Bubble.getResult(org.testng.ITestResult)[pri:0, instance:stagingQA1.TC25_Result_Panel_Click_on_Bubble@1cab519]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@8729189</td>   <td></td> </tr>
<tr bgcolor="8da5ba">  <td>17/08/07 21:54:37</td>   <td>850677</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BrowserStackTestNGTest.tearDown()[pri:0, instance:stagingQA1.TC25_Result_Panel_Click_on_Bubble@1cab519]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@8729189</td>   <td></td> </tr>
<tr bgcolor="8da5ba">  <td>17/08/07 21:55:06</td>   <td>879808</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BrowserStackTestNGTest.setUp(java.lang.String, java.lang.String)[pri:0, instance:stagingQA1.TC26_Get_direction_button@45f292]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@8729189</td>   <td></td> </tr>
<tr bgcolor="c87b81">  <td>17/08/07 21:55:24</td>   <td>897983</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TC26_Get_direction_button.handleTestMethodName(java.lang.reflect.Method)[pri:0, instance:stagingQA1.TC26_Get_direction_button@45f292]">&gt;&gt;handleTestMethodName</td> 
<td>&nbsp;</td>  <td>main@8729189</td>   <td></td> </tr>
<tr bgcolor="c87b81">  <td>17/08/07 21:55:24</td>   <td>897983</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC26_Get_direction_button.get_Direction_Button()[pri:0, instance:stagingQA1.TC26_Get_direction_button@45f292]">get_Direction_Button</td> 
  <td>main@8729189</td>   <td></td> </tr>
<tr bgcolor="c87b81">  <td>17/08/07 21:56:10</td>   <td>944144</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TC26_Get_direction_button.getResult(org.testng.ITestResult)[pri:0, instance:stagingQA1.TC26_Get_direction_button@45f292]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@8729189</td>   <td></td> </tr>
<tr bgcolor="8da5ba">  <td>17/08/07 21:56:10</td>   <td>944144</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BrowserStackTestNGTest.tearDown()[pri:0, instance:stagingQA1.TC26_Get_direction_button@45f292]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@8729189</td>   <td></td> </tr>
<tr bgcolor="8da5ba">  <td>17/08/07 21:56:11</td>   <td>944367</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BrowserStackTestNGTest.setUp(java.lang.String, java.lang.String)[pri:0, instance:stagingQA1.TC30_Send_Location_details_to_email_address@12108b5]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@8729189</td>   <td></td> </tr>
<tr bgcolor="97b678">  <td>17/08/07 21:56:35</td>   <td>968445</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TC30_Send_Location_details_to_email_address.handleTestMethodName(java.lang.reflect.Method)[pri:0, instance:stagingQA1.TC30_Send_Location_details_to_email_address@12108b5]">&gt;&gt;handleTestMethodName</td> 
<td>&nbsp;</td>  <td>main@8729189</td>   <td></td> </tr>
<tr bgcolor="97b678">  <td>17/08/07 21:56:35</td>   <td>968445</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC30_Send_Location_details_to_email_address.send_location_details_to_email_address()[pri:0, instance:stagingQA1.TC30_Send_Location_details_to_email_address@12108b5]">send_location_details_to_email_address</td> 
  <td>main@8729189</td>   <td></td> </tr>
<tr bgcolor="97b678">  <td>17/08/07 21:57:13</td>   <td>1006427</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TC30_Send_Location_details_to_email_address.getResult(org.testng.ITestResult)[pri:0, instance:stagingQA1.TC30_Send_Location_details_to_email_address@12108b5]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@8729189</td>   <td></td> </tr>
<tr bgcolor="8da5ba">  <td>17/08/07 21:57:13</td>   <td>1006430</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BrowserStackTestNGTest.tearDown()[pri:0, instance:stagingQA1.TC30_Send_Location_details_to_email_address@12108b5]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@8729189</td>   <td></td> </tr>
<tr bgcolor="8da5ba">  <td>17/08/07 21:57:38</td>   <td>1031389</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BrowserStackTestNGTest.setUp(java.lang.String, java.lang.String)[pri:0, instance:stagingQA1.TC33_Search_radius_selection@1a5c39e]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@8729189</td>   <td></td> </tr>
<tr bgcolor="70999e">  <td>17/08/07 21:58:13</td>   <td>1067219</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TC33_Search_radius_selection.handleTestMethodName(java.lang.reflect.Method)[pri:0, instance:stagingQA1.TC33_Search_radius_selection@1a5c39e]">&gt;&gt;handleTestMethodName</td> 
<td>&nbsp;</td>  <td>main@8729189</td>   <td></td> </tr>
<tr bgcolor="70999e">  <td>17/08/07 21:58:13</td>   <td>1067219</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC33_Search_radius_selection.search_radius_selection()[pri:0, instance:stagingQA1.TC33_Search_radius_selection@1a5c39e]">search_radius_selection</td> 
  <td>main@8729189</td>   <td></td> </tr>
<tr bgcolor="70999e">  <td>17/08/07 21:58:41</td>   <td>1094501</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TC33_Search_radius_selection.getResult(org.testng.ITestResult)[pri:0, instance:stagingQA1.TC33_Search_radius_selection@1a5c39e]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@8729189</td>   <td></td> </tr>
<tr bgcolor="8da5ba">  <td>17/08/07 21:58:41</td>   <td>1094501</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BrowserStackTestNGTest.tearDown()[pri:0, instance:stagingQA1.TC33_Search_radius_selection@1a5c39e]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@8729189</td>   <td></td> </tr>
<tr bgcolor="8da5ba">  <td>17/08/07 21:59:05</td>   <td>1119106</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BrowserStackTestNGTest.setUp(java.lang.String, java.lang.String)[pri:0, instance:stagingQA1.TC40_Header_Footer_links@149dace]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@8729189</td>   <td></td> </tr>
<tr bgcolor="d992b2">  <td>17/08/07 21:59:22</td>   <td>1136108</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TC40_Header_Footer_links.handleTestMethodName(java.lang.reflect.Method)[pri:0, instance:stagingQA1.TC40_Header_Footer_links@149dace]">&gt;&gt;handleTestMethodName</td> 
<td>&nbsp;</td>  <td>main@8729189</td>   <td></td> </tr>
<tr bgcolor="d992b2">  <td>17/08/07 21:59:22</td>   <td>1136108</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC40_Header_Footer_links.eader_Footer_links()[pri:0, instance:stagingQA1.TC40_Header_Footer_links@149dace]">eader_Footer_links</td> 
  <td>main@8729189</td>   <td></td> </tr>
<tr bgcolor="d992b2">  <td>17/08/07 21:59:46</td>   <td>1159240</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TC40_Header_Footer_links.getResult(org.testng.ITestResult)[pri:0, instance:stagingQA1.TC40_Header_Footer_links@149dace]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@8729189</td>   <td></td> </tr>
<tr bgcolor="8da5ba">  <td>17/08/07 21:59:46</td>   <td>1159240</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BrowserStackTestNGTest.tearDown()[pri:0, instance:stagingQA1.TC40_Header_Footer_links@149dace]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@8729189</td>   <td></td> </tr>
<tr bgcolor="eff760">  <td>17/08/07 22:00:10</td>   <td>1183634</td> <td>&nbsp;</td><td title="&lt;&lt;TC7_invalid_postal_code.getResult(org.testng.ITestResult)[pri:0, instance:stagingQA1.TC7_invalid_postal_code@1686d1f]">&lt;&lt;getResult</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@8729189</td>   <td></td> </tr>
<tr bgcolor="8da5ba">  <td>17/08/07 22:00:10</td>   <td>1183663</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BrowserStackTestNGTest.setUp(java.lang.String, java.lang.String)[pri:0, instance:stagingQA2.TC1_To_verify_page_load_on_browser@1d422d]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@8729189</td>   <td></td> </tr>
<tr bgcolor="928d86">  <td>17/08/07 22:00:25</td>   <td>1198409</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TC1_To_verify_page_load_on_browser.handleTestMethodName(java.lang.reflect.Method)[pri:0, instance:stagingQA2.TC1_To_verify_page_load_on_browser@1d422d]">&gt;&gt;handleTestMethodName</td> 
<td>&nbsp;</td>  <td>main@8729189</td>   <td></td> </tr>
<tr bgcolor="928d86">  <td>17/08/07 22:00:25</td>   <td>1198409</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC1_To_verify_page_load_on_browser.verify_page_load_on_browser()[pri:0, instance:stagingQA2.TC1_To_verify_page_load_on_browser@1d422d]">verify_page_load_on_browser</td> 
  <td>main@8729189</td>   <td></td> </tr>
<tr bgcolor="928d86">  <td>17/08/07 22:01:16</td>   <td>1249958</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TC1_To_verify_page_load_on_browser.getResult(org.testng.ITestResult)[pri:0, instance:stagingQA2.TC1_To_verify_page_load_on_browser@1d422d]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@8729189</td>   <td></td> </tr>
<tr bgcolor="8da5ba">  <td>17/08/07 22:01:16</td>   <td>1250125</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BrowserStackTestNGTest.tearDown()[pri:0, instance:stagingQA2.TC1_To_verify_page_load_on_browser@1d422d]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@8729189</td>   <td></td> </tr>
<tr bgcolor="8da5ba">  <td>17/08/07 22:01:16</td>   <td>1250163</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BrowserStackTestNGTest.setUp(java.lang.String, java.lang.String)[pri:0, instance:stagingQA2.TC2_To_verify_regionalmap_presented_on_page_load@480dd7]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@8729189</td>   <td></td> </tr>
<tr bgcolor="8b67fd">  <td>17/08/07 22:01:37</td>   <td>1270652</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TC2_To_verify_regionalmap_presented_on_page_load.handleTestMethodName(java.lang.reflect.Method)[pri:0, instance:stagingQA2.TC2_To_verify_regionalmap_presented_on_page_load@480dd7]">&gt;&gt;handleTestMethodName</td> 
<td>&nbsp;</td>  <td>main@8729189</td>   <td></td> </tr>
<tr bgcolor="8b67fd">  <td>17/08/07 22:01:37</td>   <td>1270652</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC2_To_verify_regionalmap_presented_on_page_load.verify_regionalmap_presented_on_page_load()[pri:0, instance:stagingQA2.TC2_To_verify_regionalmap_presented_on_page_load@480dd7]">verify_regionalmap_presented_on_page_load</td> 
  <td>main@8729189</td>   <td></td> </tr>
<tr bgcolor="8b67fd">  <td>17/08/07 22:06:19</td>   <td>1552523</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TC2_To_verify_regionalmap_presented_on_page_load.getResult()[pri:0, instance:stagingQA2.TC2_To_verify_regionalmap_presented_on_page_load@480dd7]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@8729189</td>   <td></td> </tr>
<tr bgcolor="8da5ba">  <td>17/08/07 22:06:20</td>   <td>1553233</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BrowserStackTestNGTest.tearDown()[pri:0, instance:stagingQA2.TC2_To_verify_regionalmap_presented_on_page_load@480dd7]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@8729189</td>   <td></td> </tr>
<tr bgcolor="8da5ba">  <td>17/08/07 22:06:20</td>   <td>1553270</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BrowserStackTestNGTest.setUp(java.lang.String, java.lang.String)[pri:0, instance:stagingQA2.TC4_Blank_address_search_textbox@a86356]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@8729189</td>   <td></td> </tr>
<tr bgcolor="bfbc86">  <td>17/08/07 22:06:47</td>   <td>1580822</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TC4_Blank_address_search_textbox.handleTestMethodName(java.lang.reflect.Method)[pri:0, instance:stagingQA2.TC4_Blank_address_search_textbox@a86356]">&gt;&gt;handleTestMethodName</td> 
<td>&nbsp;</td>  <td>main@8729189</td>   <td></td> </tr>
<tr bgcolor="bfbc86">  <td>17/08/07 22:06:47</td>   <td>1580822</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC4_Blank_address_search_textbox.blank_address_search_textbox()[pri:0, instance:stagingQA2.TC4_Blank_address_search_textbox@a86356]">blank_address_search_textbox</td> 
  <td>main@8729189</td>   <td></td> </tr>
<tr bgcolor="bfbc86">  <td>17/08/07 22:06:47</td>   <td>1580824</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TC4_Blank_address_search_textbox.getResult(org.testng.ITestResult)[pri:0, instance:stagingQA2.TC4_Blank_address_search_textbox@a86356]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@8729189</td>   <td></td> </tr>
<tr bgcolor="8da5ba">  <td>17/08/07 22:06:47</td>   <td>1580828</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BrowserStackTestNGTest.tearDown()[pri:0, instance:stagingQA2.TC4_Blank_address_search_textbox@a86356]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@8729189</td>   <td></td> </tr>
<tr bgcolor="8da5ba">  <td>17/08/07 22:07:12</td>   <td>1605562</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BrowserStackTestNGTest.setUp(java.lang.String, java.lang.String)[pri:0, instance:stagingQA2.TC5_Special_characters_in_the_search_textbox@e81285]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@8729189</td>   <td></td> </tr>
<tr bgcolor="bf9bbf">  <td>17/08/07 22:07:45</td>   <td>1638272</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TC5_Special_characters_in_the_search_textbox.handleTestMethodName(java.lang.reflect.Method)[pri:0, instance:stagingQA2.TC5_Special_characters_in_the_search_textbox@e81285]">&gt;&gt;handleTestMethodName</td> 
<td>&nbsp;</td>  <td>main@8729189</td>   <td></td> </tr>
<tr bgcolor="bf9bbf">  <td>17/08/07 22:07:45</td>   <td>1638272</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC5_Special_characters_in_the_search_textbox.special_characters_in_the_search_textbox()[pri:0, instance:stagingQA2.TC5_Special_characters_in_the_search_textbox@e81285]">special_characters_in_the_search_textbox</td> 
  <td>main@8729189</td>   <td></td> </tr>
<tr bgcolor="bf9bbf">  <td>17/08/07 22:12:27</td>   <td>1920981</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TC5_Special_characters_in_the_search_textbox.getResult(org.testng.ITestResult)[pri:0, instance:stagingQA2.TC5_Special_characters_in_the_search_textbox@e81285]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@8729189</td>   <td></td> </tr>
<tr bgcolor="8da5ba">  <td>17/08/07 22:12:28</td>   <td>1921951</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BrowserStackTestNGTest.tearDown()[pri:0, instance:stagingQA2.TC5_Special_characters_in_the_search_textbox@e81285]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@8729189</td>   <td></td> </tr>
<tr bgcolor="8da5ba">  <td>17/08/07 22:12:28</td>   <td>1921987</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BrowserStackTestNGTest.setUp(java.lang.String, java.lang.String)[pri:0, instance:stagingQA2.TC6_valid_postal_code@c03f1f]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@8729189</td>   <td></td> </tr>
<tr bgcolor="d56173">  <td>17/08/07 22:12:49</td>   <td>1942273</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TC6_valid_postal_code.handleTestMethodName(java.lang.reflect.Method)[pri:0, instance:stagingQA2.TC6_valid_postal_code@c03f1f]">&gt;&gt;handleTestMethodName</td> 
<td>&nbsp;</td>  <td>main@8729189</td>   <td></td> </tr>
<tr bgcolor="d56173">  <td>17/08/07 22:12:49</td>   <td>1942273</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC6_valid_postal_code.valid_postal_code()[pri:0, instance:stagingQA2.TC6_valid_postal_code@c03f1f]">valid_postal_code</td> 
  <td>main@8729189</td>   <td></td> </tr>
<tr bgcolor="d56173">  <td>17/08/07 22:13:49</td>   <td>2003185</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TC6_valid_postal_code.getResult(org.testng.ITestResult)[pri:0, instance:stagingQA2.TC6_valid_postal_code@c03f1f]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@8729189</td>   <td></td> </tr>
<tr bgcolor="8da5ba">  <td>17/08/07 22:13:50</td>   <td>2003341</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BrowserStackTestNGTest.tearDown()[pri:0, instance:stagingQA2.TC6_valid_postal_code@c03f1f]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@8729189</td>   <td></td> </tr>
<tr bgcolor="8da5ba">  <td>17/08/07 22:13:50</td>   <td>2003381</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BrowserStackTestNGTest.setUp(java.lang.String, java.lang.String)[pri:0, instance:stagingQA2.TC7_invalid_postal_code@c0a365]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@8729189</td>   <td></td> </tr>
<tr bgcolor="8080bb">  <td>17/08/07 22:14:25</td>   <td>2038702</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TC7_invalid_postal_code.handleTestMethodName(java.lang.reflect.Method)[pri:0, instance:stagingQA2.TC7_invalid_postal_code@c0a365]">&gt;&gt;handleTestMethodName</td> 
<td>&nbsp;</td>  <td>main@8729189</td>   <td></td> </tr>
<tr bgcolor="8080bb">  <td>17/08/07 22:14:25</td>   <td>2038703</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC7_invalid_postal_code.valid_postal_code()[pri:0, instance:stagingQA2.TC7_invalid_postal_code@c0a365]">valid_postal_code</td> 
  <td>main@8729189</td>   <td></td> </tr>
<tr bgcolor="8080bb">  <td>17/08/07 22:15:25</td>   <td>2098482</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TC7_invalid_postal_code.getResult(org.testng.ITestResult)[pri:0, instance:stagingQA2.TC7_invalid_postal_code@c0a365]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@8729189</td>   <td></td> </tr>
<tr bgcolor="8da5ba">  <td>17/08/07 22:15:25</td>   <td>2098482</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BrowserStackTestNGTest.tearDown()[pri:0, instance:stagingQA2.TC7_invalid_postal_code@c0a365]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@8729189</td>   <td></td> </tr>
<tr bgcolor="8da5ba">  <td>17/08/07 22:15:25</td>   <td>2098888</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BrowserStackTestNGTest.setUp(java.lang.String, java.lang.String)[pri:0, instance:stagingQA2.TC8_valid_city_and_state_name@1e3c938]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@8729189</td>   <td></td> </tr>
<tr bgcolor="c2a581">  <td>17/08/07 22:15:50</td>   <td>2124144</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TC8_valid_city_and_state_name.handleTestMethodName(java.lang.reflect.Method)[pri:0, instance:stagingQA2.TC8_valid_city_and_state_name@1e3c938]">&gt;&gt;handleTestMethodName</td> 
<td>&nbsp;</td>  <td>main@8729189</td>   <td></td> </tr>
<tr bgcolor="c2a581">  <td>17/08/07 22:15:50</td>   <td>2124144</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC8_valid_city_and_state_name.valid_postal_code()[pri:0, instance:stagingQA2.TC8_valid_city_and_state_name@1e3c938]">valid_postal_code</td> 
  <td>main@8729189</td>   <td></td> </tr>
<tr bgcolor="c2a581">  <td>17/08/07 22:16:51</td>   <td>2184466</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TC8_valid_city_and_state_name.getResult(org.testng.ITestResult)[pri:0, instance:stagingQA2.TC8_valid_city_and_state_name@1e3c938]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@8729189</td>   <td></td> </tr>
<tr bgcolor="8da5ba">  <td>17/08/07 22:16:51</td>   <td>2184837</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BrowserStackTestNGTest.tearDown()[pri:0, instance:stagingQA2.TC8_valid_city_and_state_name@1e3c938]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@8729189</td>   <td></td> </tr>
<tr bgcolor="8da5ba">  <td>17/08/07 22:16:51</td>   <td>2184871</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BrowserStackTestNGTest.setUp(java.lang.String, java.lang.String)[pri:0, instance:stagingQA2.TC10_valid_cityName_invalid_state@183967b]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@8729189</td>   <td></td> </tr>
<tr bgcolor="bdf5e5">  <td>17/08/07 22:17:06</td>   <td>2199399</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TC10_valid_cityName_invalid_state.handleTestMethodName(java.lang.reflect.Method)[pri:0, instance:stagingQA2.TC10_valid_cityName_invalid_state@183967b]">&gt;&gt;handleTestMethodName</td> 
<td>&nbsp;</td>  <td>main@8729189</td>   <td></td> </tr>
<tr bgcolor="bdf5e5">  <td>17/08/07 22:17:06</td>   <td>2199399</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC10_valid_cityName_invalid_state.valid_cityName_invalid_state()[pri:0, instance:stagingQA2.TC10_valid_cityName_invalid_state@183967b]">valid_cityName_invalid_state</td> 
  <td>main@8729189</td>   <td></td> </tr>
<tr bgcolor="bdf5e5">  <td>17/08/07 22:21:46</td>   <td>2479291</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TC10_valid_cityName_invalid_state.getResult(org.testng.ITestResult)[pri:0, instance:stagingQA2.TC10_valid_cityName_invalid_state@183967b]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@8729189</td>   <td></td> </tr>
<tr bgcolor="8da5ba">  <td>17/08/07 22:21:47</td>   <td>2480557</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BrowserStackTestNGTest.tearDown()[pri:0, instance:stagingQA2.TC10_valid_cityName_invalid_state@183967b]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@8729189</td>   <td></td> </tr>
<tr bgcolor="8da5ba">  <td>17/08/07 22:21:47</td>   <td>2480593</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BrowserStackTestNGTest.setUp(java.lang.String, java.lang.String)[pri:0, instance:stagingQA2.TC11_Valid_StreetAddress_City_and_StateProvince_provided@c273d3]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@8729189</td>   <td></td> </tr>
<tr bgcolor="7ec378">  <td>17/08/07 22:22:05</td>   <td>2498797</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TC11_Valid_StreetAddress_City_and_StateProvince_provided.handleTestMethodName(java.lang.reflect.Method)[pri:0, instance:stagingQA2.TC11_Valid_StreetAddress_City_and_StateProvince_provided@c273d3]">&gt;&gt;handleTestMethodName</td> 
<td>&nbsp;</td>  <td>main@8729189</td>   <td></td> </tr>
<tr bgcolor="7ec378">  <td>17/08/07 22:22:05</td>   <td>2498797</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC11_Valid_StreetAddress_City_and_StateProvince_provided.valid_cityName_invalid_state()[pri:0, instance:stagingQA2.TC11_Valid_StreetAddress_City_and_StateProvince_provided@c273d3]">valid_cityName_invalid_state</td> 
  <td>main@8729189</td>   <td></td> </tr>
<tr bgcolor="7ec378">  <td>17/08/07 22:26:47</td>   <td>2781063</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TC11_Valid_StreetAddress_City_and_StateProvince_provided.getResult(org.testng.ITestResult)[pri:0, instance:stagingQA2.TC11_Valid_StreetAddress_City_and_StateProvince_provided@c273d3]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@8729189</td>   <td></td> </tr>
<tr bgcolor="8da5ba">  <td>17/08/07 22:26:48</td>   <td>2782183</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BrowserStackTestNGTest.tearDown()[pri:0, instance:stagingQA2.TC11_Valid_StreetAddress_City_and_StateProvince_provided@c273d3]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@8729189</td>   <td></td> </tr>
<tr bgcolor="8da5ba">  <td>17/08/07 22:26:49</td>   <td>2782231</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BrowserStackTestNGTest.setUp(java.lang.String, java.lang.String)[pri:0, instance:stagingQA2.TC12_Invalid_Street_address_with_valid_CityName_and_valid_StateName@1423665]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@8729189</td>   <td></td> </tr>
<tr bgcolor="6b6398">  <td>17/08/07 22:27:06</td>   <td>2799402</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TC12_Invalid_Street_address_with_valid_CityName_and_valid_StateName.handleTestMethodName(java.lang.reflect.Method)[pri:0, instance:stagingQA2.TC12_Invalid_Street_address_with_valid_CityName_and_valid_StateName@1423665]">&gt;&gt;handleTestMethodName</td> 
<td>&nbsp;</td>  <td>main@8729189</td>   <td></td> </tr>
<tr bgcolor="6b6398">  <td>17/08/07 22:27:06</td>   <td>2799403</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC12_Invalid_Street_address_with_valid_CityName_and_valid_StateName.invalid_Street_address_with_valid_CityName_and_valid_StateName()[pri:0, instance:stagingQA2.TC12_Invalid_Street_address_with_valid_CityName_and_valid_StateName@1423665]">invalid_Street_address_with_valid_CityName_and_valid_StateName</td> 
  <td>main@8729189</td>   <td></td> </tr>
<tr bgcolor="6b6398">  <td>17/08/07 22:28:07</td>   <td>2860376</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TC12_Invalid_Street_address_with_valid_CityName_and_valid_StateName.getResult(org.testng.ITestResult)[pri:0, instance:stagingQA2.TC12_Invalid_Street_address_with_valid_CityName_and_valid_StateName@1423665]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@8729189</td>   <td></td> </tr>
<tr bgcolor="8da5ba">  <td>17/08/07 22:28:07</td>   <td>2860562</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BrowserStackTestNGTest.tearDown()[pri:0, instance:stagingQA2.TC12_Invalid_Street_address_with_valid_CityName_and_valid_StateName@1423665]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@8729189</td>   <td></td> </tr>
<tr bgcolor="8da5ba">  <td>17/08/07 22:28:07</td>   <td>2860605</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BrowserStackTestNGTest.setUp(java.lang.String, java.lang.String)[pri:0, instance:stagingQA2.TC22_Zoom_In@398b7c]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@8729189</td>   <td></td> </tr>
<tr bgcolor="7faa95">  <td>17/08/07 22:28:28</td>   <td>2881273</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TC22_Zoom_In.handleTestMethodName(java.lang.reflect.Method)[pri:0, instance:stagingQA2.TC22_Zoom_In@398b7c]">&gt;&gt;handleTestMethodName</td> 
<td>&nbsp;</td>  <td>main@8729189</td>   <td></td> </tr>
<tr bgcolor="7faa95">  <td>17/08/07 22:28:28</td>   <td>2881273</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC22_Zoom_In.zoom_In()[pri:0, instance:stagingQA2.TC22_Zoom_In@398b7c]">zoom_In</td> 
  <td>main@8729189</td>   <td></td> </tr>
<tr bgcolor="7faa95">  <td>17/08/07 22:29:30</td>   <td>2943970</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TC22_Zoom_In.getResult(org.testng.ITestResult)[pri:0, instance:stagingQA2.TC22_Zoom_In@398b7c]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@8729189</td>   <td></td> </tr>
<tr bgcolor="8da5ba">  <td>17/08/07 22:29:30</td>   <td>2944155</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BrowserStackTestNGTest.tearDown()[pri:0, instance:stagingQA2.TC22_Zoom_In@398b7c]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@8729189</td>   <td></td> </tr>
<tr bgcolor="8da5ba">  <td>17/08/07 22:29:30</td>   <td>2944190</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BrowserStackTestNGTest.setUp(java.lang.String, java.lang.String)[pri:0, instance:stagingQA2.TC23_Zoom_out@1c6f14e]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@8729189</td>   <td></td> </tr>
<tr bgcolor="727982">  <td>17/08/07 22:29:52</td>   <td>2965973</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TC23_Zoom_out.handleTestMethodName(java.lang.reflect.Method)[pri:0, instance:stagingQA2.TC23_Zoom_out@1c6f14e]">&gt;&gt;handleTestMethodName</td> 
<td>&nbsp;</td>  <td>main@8729189</td>   <td></td> </tr>
<tr bgcolor="727982">  <td>17/08/07 22:29:52</td>   <td>2965973</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC23_Zoom_out.zoom_out()[pri:0, instance:stagingQA2.TC23_Zoom_out@1c6f14e]">zoom_out</td> 
  <td>main@8729189</td>   <td></td> </tr>
<tr bgcolor="727982">  <td>17/08/07 22:30:54</td>   <td>3027770</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TC23_Zoom_out.getResult(org.testng.ITestResult)[pri:0, instance:stagingQA2.TC23_Zoom_out@1c6f14e]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@8729189</td>   <td></td> </tr>
<tr bgcolor="8da5ba">  <td>17/08/07 22:30:54</td>   <td>3027939</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BrowserStackTestNGTest.tearDown()[pri:0, instance:stagingQA2.TC23_Zoom_out@1c6f14e]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@8729189</td>   <td></td> </tr>
<tr bgcolor="8da5ba">  <td>17/08/07 22:30:54</td>   <td>3027975</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BrowserStackTestNGTest.setUp(java.lang.String, java.lang.String)[pri:0, instance:stagingQA2.TC25_Result_Panel_Click_on_Bubble@235b8e]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@8729189</td>   <td></td> </tr>
<tr bgcolor="6c6fbb">  <td>17/08/07 22:31:11</td>   <td>3045065</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TC25_Result_Panel_Click_on_Bubble.handleTestMethodName(java.lang.reflect.Method)[pri:0, instance:stagingQA2.TC25_Result_Panel_Click_on_Bubble@235b8e]">&gt;&gt;handleTestMethodName</td> 
<td>&nbsp;</td>  <td>main@8729189</td>   <td></td> </tr>
<tr bgcolor="6c6fbb">  <td>17/08/07 22:31:11</td>   <td>3045065</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC25_Result_Panel_Click_on_Bubble.result_Panel_Click_on_Bubble()[pri:0, instance:stagingQA2.TC25_Result_Panel_Click_on_Bubble@235b8e]">result_Panel_Click_on_Bubble</td> 
  <td>main@8729189</td>   <td></td> </tr>
<tr bgcolor="6c6fbb">  <td>17/08/07 22:32:12</td>   <td>3105487</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TC25_Result_Panel_Click_on_Bubble.getResult(org.testng.ITestResult)[pri:0, instance:stagingQA2.TC25_Result_Panel_Click_on_Bubble@235b8e]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@8729189</td>   <td></td> </tr>
<tr bgcolor="8da5ba">  <td>17/08/07 22:32:12</td>   <td>3105643</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BrowserStackTestNGTest.tearDown()[pri:0, instance:stagingQA2.TC25_Result_Panel_Click_on_Bubble@235b8e]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@8729189</td>   <td></td> </tr>
<tr bgcolor="8da5ba">  <td>17/08/07 22:32:12</td>   <td>3105695</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BrowserStackTestNGTest.setUp(java.lang.String, java.lang.String)[pri:0, instance:stagingQA2.TC26_Get_direction_button@32be31]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@8729189</td>   <td></td> </tr>
<tr bgcolor="98ae61">  <td>17/08/07 22:32:26</td>   <td>3120181</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TC26_Get_direction_button.handleTestMethodName(java.lang.reflect.Method)[pri:0, instance:stagingQA2.TC26_Get_direction_button@32be31]">&gt;&gt;handleTestMethodName</td> 
<td>&nbsp;</td>  <td>main@8729189</td>   <td></td> </tr>
<tr bgcolor="98ae61">  <td>17/08/07 22:32:26</td>   <td>3120181</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC26_Get_direction_button.get_Direction_Button()[pri:0, instance:stagingQA2.TC26_Get_direction_button@32be31]">get_Direction_Button</td> 
  <td>main@8729189</td>   <td></td> </tr>
<tr bgcolor="98ae61">  <td>17/08/07 22:33:27</td>   <td>3180838</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TC26_Get_direction_button.getResult(org.testng.ITestResult)[pri:0, instance:stagingQA2.TC26_Get_direction_button@32be31]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@8729189</td>   <td></td> </tr>
<tr bgcolor="8da5ba">  <td>17/08/07 22:33:27</td>   <td>3180999</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BrowserStackTestNGTest.tearDown()[pri:0, instance:stagingQA2.TC26_Get_direction_button@32be31]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@8729189</td>   <td></td> </tr>
<tr bgcolor="8da5ba">  <td>17/08/07 22:33:27</td>   <td>3181050</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BrowserStackTestNGTest.setUp(java.lang.String, java.lang.String)[pri:0, instance:stagingQA2.TC30_Send_Location_details_to_email_address@bca1e0]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@8729189</td>   <td></td> </tr>
<tr bgcolor="6f93f1">  <td>17/08/07 22:33:41</td>   <td>3195125</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TC30_Send_Location_details_to_email_address.handleTestMethodName(java.lang.reflect.Method)[pri:0, instance:stagingQA2.TC30_Send_Location_details_to_email_address@bca1e0]">&gt;&gt;handleTestMethodName</td> 
<td>&nbsp;</td>  <td>main@8729189</td>   <td></td> </tr>
<tr bgcolor="6f93f1">  <td>17/08/07 22:33:41</td>   <td>3195125</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC30_Send_Location_details_to_email_address.send_location_details_to_email_address()[pri:0, instance:stagingQA2.TC30_Send_Location_details_to_email_address@bca1e0]">send_location_details_to_email_address</td> 
  <td>main@8729189</td>   <td></td> </tr>
<tr bgcolor="6f93f1">  <td>17/08/07 22:34:42</td>   <td>3255585</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TC30_Send_Location_details_to_email_address.getResult()[pri:0, instance:stagingQA2.TC30_Send_Location_details_to_email_address@bca1e0]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@8729189</td>   <td></td> </tr>
<tr bgcolor="8da5ba">  <td>17/08/07 22:34:43</td>   <td>3256262</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BrowserStackTestNGTest.tearDown()[pri:0, instance:stagingQA2.TC30_Send_Location_details_to_email_address@bca1e0]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@8729189</td>   <td></td> </tr>
<tr bgcolor="8da5ba">  <td>17/08/07 22:34:43</td>   <td>3256324</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BrowserStackTestNGTest.setUp(java.lang.String, java.lang.String)[pri:0, instance:stagingQA2.TC33_Search_radius_selection@286778]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@8729189</td>   <td></td> </tr>
<tr bgcolor="dc939b">  <td>17/08/07 22:34:58</td>   <td>3271282</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TC33_Search_radius_selection.handleTestMethodName(java.lang.reflect.Method)[pri:0, instance:stagingQA2.TC33_Search_radius_selection@286778]">&gt;&gt;handleTestMethodName</td> 
<td>&nbsp;</td>  <td>main@8729189</td>   <td></td> </tr>
<tr bgcolor="dc939b">  <td>17/08/07 22:34:58</td>   <td>3271282</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC33_Search_radius_selection.search_radius_selection()[pri:0, instance:stagingQA2.TC33_Search_radius_selection@286778]">search_radius_selection</td> 
  <td>main@8729189</td>   <td></td> </tr>
<tr bgcolor="dc939b">  <td>17/08/07 22:35:58</td>   <td>3331790</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TC33_Search_radius_selection.getResult()[pri:0, instance:stagingQA2.TC33_Search_radius_selection@286778]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@8729189</td>   <td></td> </tr>
<tr bgcolor="8da5ba">  <td>17/08/07 22:35:58</td>   <td>3331950</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BrowserStackTestNGTest.tearDown()[pri:0, instance:stagingQA2.TC33_Search_radius_selection@286778]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@8729189</td>   <td></td> </tr>
<tr bgcolor="8da5ba">  <td>17/08/07 22:35:58</td>   <td>3332012</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BrowserStackTestNGTest.setUp(java.lang.String, java.lang.String)[pri:0, instance:stagingQA2.TC40_Header_Footer_links@9ba398]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@8729189</td>   <td></td> </tr>
<tr bgcolor="afe4ac">  <td>17/08/07 22:36:14</td>   <td>3347320</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TC40_Header_Footer_links.handleTestMethodName(java.lang.reflect.Method)[pri:0, instance:stagingQA2.TC40_Header_Footer_links@9ba398]">&gt;&gt;handleTestMethodName</td> 
<td>&nbsp;</td>  <td>main@8729189</td>   <td></td> </tr>
<tr bgcolor="afe4ac">  <td>17/08/07 22:36:14</td>   <td>3347321</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC40_Header_Footer_links.eader_Footer_links()[pri:0, instance:stagingQA2.TC40_Header_Footer_links@9ba398]">eader_Footer_links</td> 
  <td>main@8729189</td>   <td></td> </tr>
<tr bgcolor="afe4ac">  <td>17/08/07 22:37:14</td>   <td>3407679</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TC40_Header_Footer_links.getResult()[pri:0, instance:stagingQA2.TC40_Header_Footer_links@9ba398]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@8729189</td>   <td></td> </tr>
<tr bgcolor="8da5ba">  <td>17/08/07 22:37:14</td>   <td>3407842</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BrowserStackTestNGTest.tearDown()[pri:0, instance:stagingQA2.TC40_Header_Footer_links@9ba398]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@8729189</td>   <td></td> </tr>
<tr bgcolor="8da5ba">  <td>17/08/07 22:37:14</td>   <td>3407935</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BrowserStackTestNGTest.setUp(java.lang.String, java.lang.String)[pri:0, instance:stagingQA3.TC1_To_verify_page_load_on_browser@5ed7a6]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@8729189</td>   <td></td> </tr>
<tr bgcolor="759b6d">  <td>17/08/07 22:37:32</td>   <td>3425433</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TC1_To_verify_page_load_on_browser.handleTestMethodName(java.lang.reflect.Method)[pri:0, instance:stagingQA3.TC1_To_verify_page_load_on_browser@5ed7a6]">&gt;&gt;handleTestMethodName</td> 
<td>&nbsp;</td>  <td>main@8729189</td>   <td></td> </tr>
<tr bgcolor="759b6d">  <td>17/08/07 22:37:32</td>   <td>3425433</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC1_To_verify_page_load_on_browser.verify_page_load_on_browser()[pri:0, instance:stagingQA3.TC1_To_verify_page_load_on_browser@5ed7a6]">verify_page_load_on_browser</td> 
  <td>main@8729189</td>   <td></td> </tr>
<tr bgcolor="759b6d">  <td>17/08/07 22:37:42</td>   <td>3435470</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TC1_To_verify_page_load_on_browser.getResult(org.testng.ITestResult)[pri:0, instance:stagingQA3.TC1_To_verify_page_load_on_browser@5ed7a6]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@8729189</td>   <td></td> </tr>
<tr bgcolor="8da5ba">  <td>17/08/07 22:38:06</td>   <td>3459291</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BrowserStackTestNGTest.tearDown()[pri:0, instance:stagingQA3.TC1_To_verify_page_load_on_browser@5ed7a6]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@8729189</td>   <td></td> </tr>
<tr bgcolor="8da5ba">  <td>17/08/07 22:38:06</td>   <td>3459341</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BrowserStackTestNGTest.setUp(java.lang.String, java.lang.String)[pri:0, instance:stagingQA3.TC2_To_verify_regionalmap_presented_on_page_load@125a3ee]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@8729189</td>   <td></td> </tr>
<tr bgcolor="69bbb7">  <td>17/08/07 22:38:21</td>   <td>3474596</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TC2_To_verify_regionalmap_presented_on_page_load.handleTestMethodName(java.lang.reflect.Method)[pri:0, instance:stagingQA3.TC2_To_verify_regionalmap_presented_on_page_load@125a3ee]">&gt;&gt;handleTestMethodName</td> 
<td>&nbsp;</td>  <td>main@8729189</td>   <td></td> </tr>
<tr bgcolor="69bbb7">  <td>17/08/07 22:38:21</td>   <td>3474596</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC2_To_verify_regionalmap_presented_on_page_load.verify_regionalmap_presented_on_page_load()[pri:0, instance:stagingQA3.TC2_To_verify_regionalmap_presented_on_page_load@125a3ee]">verify_regionalmap_presented_on_page_load</td> 
  <td>main@8729189</td>   <td></td> </tr>
<tr bgcolor="69bbb7">  <td>17/08/07 22:38:40</td>   <td>3493849</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TC2_To_verify_regionalmap_presented_on_page_load.getResult()[pri:0, instance:stagingQA3.TC2_To_verify_regionalmap_presented_on_page_load@125a3ee]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@8729189</td>   <td></td> </tr>
<tr bgcolor="8da5ba">  <td>17/08/07 22:39:08</td>   <td>3521759</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BrowserStackTestNGTest.tearDown()[pri:0, instance:stagingQA3.TC2_To_verify_regionalmap_presented_on_page_load@125a3ee]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@8729189</td>   <td></td> </tr>
<tr bgcolor="8da5ba">  <td>17/08/07 22:39:08</td>   <td>3521799</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BrowserStackTestNGTest.setUp(java.lang.String, java.lang.String)[pri:0, instance:stagingQA3.TC4_Blank_address_search_textbox@116f93d]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@8729189</td>   <td></td> </tr>
<tr bgcolor="96e971">  <td>17/08/07 22:39:29</td>   <td>3543123</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TC4_Blank_address_search_textbox.handleTestMethodName(java.lang.reflect.Method)[pri:0, instance:stagingQA3.TC4_Blank_address_search_textbox@116f93d]">&gt;&gt;handleTestMethodName</td> 
<td>&nbsp;</td>  <td>main@8729189</td>   <td></td> </tr>
<tr bgcolor="96e971">  <td>17/08/07 22:39:29</td>   <td>3543123</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC4_Blank_address_search_textbox.blank_address_search_textbox()[pri:0, instance:stagingQA3.TC4_Blank_address_search_textbox@116f93d]">blank_address_search_textbox</td> 
  <td>main@8729189</td>   <td></td> </tr>
<tr bgcolor="96e971">  <td>17/08/07 22:39:29</td>   <td>3543126</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TC4_Blank_address_search_textbox.getResult(org.testng.ITestResult)[pri:0, instance:stagingQA3.TC4_Blank_address_search_textbox@116f93d]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@8729189</td>   <td></td> </tr>
<tr bgcolor="8da5ba">  <td>17/08/07 22:39:29</td>   <td>3543130</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BrowserStackTestNGTest.tearDown()[pri:0, instance:stagingQA3.TC4_Blank_address_search_textbox@116f93d]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@8729189</td>   <td></td> </tr>
<tr bgcolor="8da5ba">  <td>17/08/07 22:39:56</td>   <td>3570087</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BrowserStackTestNGTest.setUp(java.lang.String, java.lang.String)[pri:0, instance:stagingQA3.TC5_Special_characters_in_the_search_textbox@1b92f0a]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@8729189</td>   <td></td> </tr>
<tr bgcolor="6a9486">  <td>17/08/07 22:40:14</td>   <td>3587570</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TC5_Special_characters_in_the_search_textbox.handleTestMethodName(java.lang.reflect.Method)[pri:0, instance:stagingQA3.TC5_Special_characters_in_the_search_textbox@1b92f0a]">&gt;&gt;handleTestMethodName</td> 
<td>&nbsp;</td>  <td>main@8729189</td>   <td></td> </tr>
<tr bgcolor="6a9486">  <td>17/08/07 22:40:14</td>   <td>3587570</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC5_Special_characters_in_the_search_textbox.special_characters_in_the_search_textbox()[pri:0, instance:stagingQA3.TC5_Special_characters_in_the_search_textbox@1b92f0a]">special_characters_in_the_search_textbox</td> 
  <td>main@8729189</td>   <td></td> </tr>
<tr bgcolor="6a9486">  <td>17/08/07 22:40:59</td>   <td>3632909</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TC5_Special_characters_in_the_search_textbox.getResult(org.testng.ITestResult)[pri:0, instance:stagingQA3.TC5_Special_characters_in_the_search_textbox@1b92f0a]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@8729189</td>   <td></td> </tr>
<tr bgcolor="8da5ba">  <td>17/08/07 22:41:00</td>   <td>3633289</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BrowserStackTestNGTest.tearDown()[pri:0, instance:stagingQA3.TC5_Special_characters_in_the_search_textbox@1b92f0a]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@8729189</td>   <td></td> </tr>
<tr bgcolor="8da5ba">  <td>17/08/07 22:41:00</td>   <td>3633327</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BrowserStackTestNGTest.setUp(java.lang.String, java.lang.String)[pri:0, instance:stagingQA3.TC6_valid_postal_code@19627bc]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@8729189</td>   <td></td> </tr>
<tr bgcolor="eed3b9">  <td>17/08/07 22:41:17</td>   <td>3650777</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TC6_valid_postal_code.handleTestMethodName(java.lang.reflect.Method)[pri:0, instance:stagingQA3.TC6_valid_postal_code@19627bc]">&gt;&gt;handleTestMethodName</td> 
<td>&nbsp;</td>  <td>main@8729189</td>   <td></td> </tr>
<tr bgcolor="eed3b9">  <td>17/08/07 22:41:17</td>   <td>3650777</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC6_valid_postal_code.valid_postal_code()[pri:0, instance:stagingQA3.TC6_valid_postal_code@19627bc]">valid_postal_code</td> 
  <td>main@8729189</td>   <td></td> </tr>
<tr bgcolor="eed3b9">  <td>17/08/07 22:41:35</td>   <td>3668595</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TC6_valid_postal_code.getResult(org.testng.ITestResult)[pri:0, instance:stagingQA3.TC6_valid_postal_code@19627bc]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@8729189</td>   <td></td> </tr>
<tr bgcolor="8da5ba">  <td>17/08/07 22:41:59</td>   <td>3692458</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BrowserStackTestNGTest.tearDown()[pri:0, instance:stagingQA3.TC6_valid_postal_code@19627bc]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@8729189</td>   <td></td> </tr>
<tr bgcolor="8da5ba">  <td>17/08/07 22:41:59</td>   <td>3692502</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BrowserStackTestNGTest.setUp(java.lang.String, java.lang.String)[pri:0, instance:stagingQA3.TC7_invalid_postal_code@1e2dbf3]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@8729189</td>   <td></td> </tr>
<tr bgcolor="9b7070">  <td>17/08/07 22:42:24</td>   <td>3718061</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TC7_invalid_postal_code.handleTestMethodName(java.lang.reflect.Method)[pri:0, instance:stagingQA3.TC7_invalid_postal_code@1e2dbf3]">&gt;&gt;handleTestMethodName</td> 
<td>&nbsp;</td>  <td>main@8729189</td>   <td></td> </tr>
<tr bgcolor="9b7070">  <td>17/08/07 22:42:24</td>   <td>3718061</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC7_invalid_postal_code.valid_postal_code()[pri:0, instance:stagingQA3.TC7_invalid_postal_code@1e2dbf3]">valid_postal_code</td> 
  <td>main@8729189</td>   <td></td> </tr>
<tr bgcolor="9b7070">  <td>17/08/07 22:42:38</td>   <td>3731944</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TC7_invalid_postal_code.getResult(org.testng.ITestResult)[pri:0, instance:stagingQA3.TC7_invalid_postal_code@1e2dbf3]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@8729189</td>   <td></td> </tr>
<tr bgcolor="8da5ba">  <td>17/08/07 22:42:38</td>   <td>3731944</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BrowserStackTestNGTest.tearDown()[pri:0, instance:stagingQA3.TC7_invalid_postal_code@1e2dbf3]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@8729189</td>   <td></td> </tr>
<tr bgcolor="8da5ba">  <td>17/08/07 22:43:05</td>   <td>3758663</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BrowserStackTestNGTest.setUp(java.lang.String, java.lang.String)[pri:0, instance:stagingQA3.TC8_valid_city_and_state_name@1970963]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@8729189</td>   <td></td> </tr>
<tr bgcolor="9768b3">  <td>17/08/07 22:43:29</td>   <td>3782908</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TC8_valid_city_and_state_name.handleTestMethodName(java.lang.reflect.Method)[pri:0, instance:stagingQA3.TC8_valid_city_and_state_name@1970963]">&gt;&gt;handleTestMethodName</td> 
<td>&nbsp;</td>  <td>main@8729189</td>   <td></td> </tr>
<tr bgcolor="9768b3">  <td>17/08/07 22:43:29</td>   <td>3782908</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC8_valid_city_and_state_name.valid_postal_code()[pri:0, instance:stagingQA3.TC8_valid_city_and_state_name@1970963]">valid_postal_code</td> 
  <td>main@8729189</td>   <td></td> </tr>
<tr bgcolor="9768b3">  <td>17/08/07 22:43:49</td>   <td>3802566</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TC8_valid_city_and_state_name.getResult(org.testng.ITestResult)[pri:0, instance:stagingQA3.TC8_valid_city_and_state_name@1970963]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@8729189</td>   <td></td> </tr>
<tr bgcolor="8da5ba">  <td>17/08/07 22:44:17</td>   <td>3831030</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BrowserStackTestNGTest.tearDown()[pri:0, instance:stagingQA3.TC8_valid_city_and_state_name@1970963]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@8729189</td>   <td></td> </tr>
<tr bgcolor="8da5ba">  <td>17/08/07 22:44:17</td>   <td>3831080</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BrowserStackTestNGTest.setUp(java.lang.String, java.lang.String)[pri:0, instance:stagingQA3.TC10_valid_cityName_invalid_state@1f8bee4]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@8729189</td>   <td></td> </tr>
<tr bgcolor="7fba77">  <td>17/08/07 22:44:38</td>   <td>3852052</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TC10_valid_cityName_invalid_state.handleTestMethodName(java.lang.reflect.Method)[pri:0, instance:stagingQA3.TC10_valid_cityName_invalid_state@1f8bee4]">&gt;&gt;handleTestMethodName</td> 
<td>&nbsp;</td>  <td>main@8729189</td>   <td></td> </tr>
<tr bgcolor="7fba77">  <td>17/08/07 22:44:38</td>   <td>3852052</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC10_valid_cityName_invalid_state.valid_cityName_invalid_state()[pri:0, instance:stagingQA3.TC10_valid_cityName_invalid_state@1f8bee4]">valid_cityName_invalid_state</td> 
  <td>main@8729189</td>   <td></td> </tr>
<tr bgcolor="7fba77">  <td>17/08/07 22:44:51</td>   <td>3864386</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TC10_valid_cityName_invalid_state.getResult(org.testng.ITestResult)[pri:0, instance:stagingQA3.TC10_valid_cityName_invalid_state@1f8bee4]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@8729189</td>   <td></td> </tr>
<tr bgcolor="8da5ba">  <td>17/08/07 22:45:19</td>   <td>3892431</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BrowserStackTestNGTest.tearDown()[pri:0, instance:stagingQA3.TC10_valid_cityName_invalid_state@1f8bee4]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@8729189</td>   <td></td> </tr>
<tr bgcolor="8da5ba">  <td>17/08/07 22:45:19</td>   <td>3892479</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BrowserStackTestNGTest.setUp(java.lang.String, java.lang.String)[pri:0, instance:stagingQA3.TC11_Valid_StreetAddress_City_and_StateProvince_provided@149cea0]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@8729189</td>   <td></td> </tr>
<tr bgcolor="85d8b6">  <td>17/08/07 22:45:34</td>   <td>3907833</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TC11_Valid_StreetAddress_City_and_StateProvince_provided.handleTestMethodName(java.lang.reflect.Method)[pri:0, instance:stagingQA3.TC11_Valid_StreetAddress_City_and_StateProvince_provided@149cea0]">&gt;&gt;handleTestMethodName</td> 
<td>&nbsp;</td>  <td>main@8729189</td>   <td></td> </tr>
<tr bgcolor="85d8b6">  <td>17/08/07 22:45:34</td>   <td>3907833</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC11_Valid_StreetAddress_City_and_StateProvince_provided.valid_cityName_invalid_state()[pri:0, instance:stagingQA3.TC11_Valid_StreetAddress_City_and_StateProvince_provided@149cea0]">valid_cityName_invalid_state</td> 
  <td>main@8729189</td>   <td></td> </tr>
<tr bgcolor="85d8b6">  <td>17/08/07 22:45:45</td>   <td>3918497</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TC11_Valid_StreetAddress_City_and_StateProvince_provided.getResult(org.testng.ITestResult)[pri:0, instance:stagingQA3.TC11_Valid_StreetAddress_City_and_StateProvince_provided@149cea0]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@8729189</td>   <td></td> </tr>
<tr bgcolor="8da5ba">  <td>17/08/07 22:46:09</td>   <td>3942872</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BrowserStackTestNGTest.tearDown()[pri:0, instance:stagingQA3.TC11_Valid_StreetAddress_City_and_StateProvince_provided@149cea0]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@8729189</td>   <td></td> </tr>
<tr bgcolor="8da5ba">  <td>17/08/07 22:46:09</td>   <td>3942928</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BrowserStackTestNGTest.setUp(java.lang.String, java.lang.String)[pri:0, instance:stagingQA3.TC12_Invalid_Street_address_with_valid_CityName_and_valid_StateName@87af79]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@8729189</td>   <td></td> </tr>
<tr bgcolor="78a366">  <td>17/08/07 22:46:31</td>   <td>3964406</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TC12_Invalid_Street_address_with_valid_CityName_and_valid_StateName.handleTestMethodName(java.lang.reflect.Method)[pri:0, instance:stagingQA3.TC12_Invalid_Street_address_with_valid_CityName_and_valid_StateName@87af79]">&gt;&gt;handleTestMethodName</td> 
<td>&nbsp;</td>  <td>main@8729189</td>   <td></td> </tr>
<tr bgcolor="78a366">  <td>17/08/07 22:46:31</td>   <td>3964406</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC12_Invalid_Street_address_with_valid_CityName_and_valid_StateName.invalid_Street_address_with_valid_CityName_and_valid_StateName()[pri:0, instance:stagingQA3.TC12_Invalid_Street_address_with_valid_CityName_and_valid_StateName@87af79]">invalid_Street_address_with_valid_CityName_and_valid_StateName</td> 
  <td>main@8729189</td>   <td></td> </tr>
<tr bgcolor="78a366">  <td>17/08/07 22:46:42</td>   <td>3976154</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TC12_Invalid_Street_address_with_valid_CityName_and_valid_StateName.getResult(org.testng.ITestResult)[pri:0, instance:stagingQA3.TC12_Invalid_Street_address_with_valid_CityName_and_valid_StateName@87af79]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@8729189</td>   <td></td> </tr>
<tr bgcolor="8da5ba">  <td>17/08/07 22:47:12</td>   <td>4005706</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BrowserStackTestNGTest.tearDown()[pri:0, instance:stagingQA3.TC12_Invalid_Street_address_with_valid_CityName_and_valid_StateName@87af79]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@8729189</td>   <td></td> </tr>
<tr bgcolor="8da5ba">  <td>17/08/07 22:47:12</td>   <td>4005757</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BrowserStackTestNGTest.setUp(java.lang.String, java.lang.String)[pri:0, instance:stagingQA3.TC22_Zoom_In@1ac631b]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@8729189</td>   <td></td> </tr>
<tr bgcolor="beadca">  <td>17/08/07 22:47:31</td>   <td>4024354</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TC22_Zoom_In.handleTestMethodName(java.lang.reflect.Method)[pri:0, instance:stagingQA3.TC22_Zoom_In@1ac631b]">&gt;&gt;handleTestMethodName</td> 
<td>&nbsp;</td>  <td>main@8729189</td>   <td></td> </tr>
<tr bgcolor="beadca">  <td>17/08/07 22:47:31</td>   <td>4024354</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC22_Zoom_In.zoom_In()[pri:0, instance:stagingQA3.TC22_Zoom_In@1ac631b]">zoom_In</td> 
  <td>main@8729189</td>   <td></td> </tr>
<tr bgcolor="beadca">  <td>17/08/07 22:48:08</td>   <td>4061334</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TC22_Zoom_In.getResult(org.testng.ITestResult)[pri:0, instance:stagingQA3.TC22_Zoom_In@1ac631b]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@8729189</td>   <td></td> </tr>
<tr bgcolor="8da5ba">  <td>17/08/07 22:48:32</td>   <td>4086169</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BrowserStackTestNGTest.tearDown()[pri:0, instance:stagingQA3.TC22_Zoom_In@1ac631b]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@8729189</td>   <td></td> </tr>
<tr bgcolor="8da5ba">  <td>17/08/07 22:48:33</td>   <td>4086220</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BrowserStackTestNGTest.setUp(java.lang.String, java.lang.String)[pri:0, instance:stagingQA3.TC23_Zoom_out@187ed94]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@8729189</td>   <td></td> </tr>
<tr bgcolor="6366b4">  <td>17/08/07 22:48:48</td>   <td>4101283</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TC23_Zoom_out.handleTestMethodName(java.lang.reflect.Method)[pri:0, instance:stagingQA3.TC23_Zoom_out@187ed94]">&gt;&gt;handleTestMethodName</td> 
<td>&nbsp;</td>  <td>main@8729189</td>   <td></td> </tr>
<tr bgcolor="6366b4">  <td>17/08/07 22:48:48</td>   <td>4101283</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC23_Zoom_out.zoom_out()[pri:0, instance:stagingQA3.TC23_Zoom_out@187ed94]">zoom_out</td> 
  <td>main@8729189</td>   <td></td> </tr>
<tr bgcolor="6366b4">  <td>17/08/07 22:49:03</td>   <td>4116704</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TC23_Zoom_out.getResult(org.testng.ITestResult)[pri:0, instance:stagingQA3.TC23_Zoom_out@187ed94]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@8729189</td>   <td></td> </tr>
<tr bgcolor="8da5ba">  <td>17/08/07 22:49:29</td>   <td>4142548</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BrowserStackTestNGTest.tearDown()[pri:0, instance:stagingQA3.TC23_Zoom_out@187ed94]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@8729189</td>   <td></td> </tr>
<tr bgcolor="8da5ba">  <td>17/08/07 22:49:29</td>   <td>4142599</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BrowserStackTestNGTest.setUp(java.lang.String, java.lang.String)[pri:0, instance:stagingQA3.TC25_Result_Panel_Click_on_Bubble@e048a]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@8729189</td>   <td></td> </tr>
<tr bgcolor="ecbaaa">  <td>17/08/07 22:49:45</td>   <td>4158235</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TC25_Result_Panel_Click_on_Bubble.handleTestMethodName(java.lang.reflect.Method)[pri:0, instance:stagingQA3.TC25_Result_Panel_Click_on_Bubble@e048a]">&gt;&gt;handleTestMethodName</td> 
<td>&nbsp;</td>  <td>main@8729189</td>   <td></td> </tr>
<tr bgcolor="ecbaaa">  <td>17/08/07 22:49:45</td>   <td>4158235</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC25_Result_Panel_Click_on_Bubble.result_Panel_Click_on_Bubble()[pri:0, instance:stagingQA3.TC25_Result_Panel_Click_on_Bubble@e048a]">result_Panel_Click_on_Bubble</td> 
  <td>main@8729189</td>   <td></td> </tr>
<tr bgcolor="ecbaaa">  <td>17/08/07 22:50:05</td>   <td>4178290</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TC25_Result_Panel_Click_on_Bubble.getResult(org.testng.ITestResult)[pri:0, instance:stagingQA3.TC25_Result_Panel_Click_on_Bubble@e048a]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@8729189</td>   <td></td> </tr>
<tr bgcolor="8da5ba">  <td>17/08/07 22:50:29</td>   <td>4202251</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BrowserStackTestNGTest.tearDown()[pri:0, instance:stagingQA3.TC25_Result_Panel_Click_on_Bubble@e048a]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@8729189</td>   <td></td> </tr>
<tr bgcolor="8da5ba">  <td>17/08/07 22:50:29</td>   <td>4202308</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BrowserStackTestNGTest.setUp(java.lang.String, java.lang.String)[pri:0, instance:stagingQA3.TC26_Get_direction_button@1c79255]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@8729189</td>   <td></td> </tr>
<tr bgcolor="89a8e2">  <td>17/08/07 22:50:43</td>   <td>4216854</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TC26_Get_direction_button.handleTestMethodName(java.lang.reflect.Method)[pri:0, instance:stagingQA3.TC26_Get_direction_button@1c79255]">&gt;&gt;handleTestMethodName</td> 
<td>&nbsp;</td>  <td>main@8729189</td>   <td></td> </tr>
<tr bgcolor="89a8e2">  <td>17/08/07 22:50:43</td>   <td>4216854</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC26_Get_direction_button.get_Direction_Button()[pri:0, instance:stagingQA3.TC26_Get_direction_button@1c79255]">get_Direction_Button</td> 
  <td>main@8729189</td>   <td></td> </tr>
<tr bgcolor="89a8e2">  <td>17/08/07 22:51:31</td>   <td>4265086</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TC26_Get_direction_button.getResult(org.testng.ITestResult)[pri:0, instance:stagingQA3.TC26_Get_direction_button@1c79255]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@8729189</td>   <td></td> </tr>
<tr bgcolor="8da5ba">  <td>17/08/07 22:51:32</td>   <td>4265285</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BrowserStackTestNGTest.tearDown()[pri:0, instance:stagingQA3.TC26_Get_direction_button@1c79255]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@8729189</td>   <td></td> </tr>
<tr bgcolor="8da5ba">  <td>17/08/07 22:51:32</td>   <td>4265336</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BrowserStackTestNGTest.setUp(java.lang.String, java.lang.String)[pri:0, instance:stagingQA3.TC30_Send_Location_details_to_email_address@1ef968d]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@8729189</td>   <td></td> </tr>
<tr bgcolor="df90b0">  <td>17/08/07 22:51:57</td>   <td>4291120</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TC30_Send_Location_details_to_email_address.handleTestMethodName(java.lang.reflect.Method)[pri:0, instance:stagingQA3.TC30_Send_Location_details_to_email_address@1ef968d]">&gt;&gt;handleTestMethodName</td> 
<td>&nbsp;</td>  <td>main@8729189</td>   <td></td> </tr>
<tr bgcolor="df90b0">  <td>17/08/07 22:51:57</td>   <td>4291120</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC30_Send_Location_details_to_email_address.send_location_details_to_email_address()[pri:0, instance:stagingQA3.TC30_Send_Location_details_to_email_address@1ef968d]">send_location_details_to_email_address</td> 
  <td>main@8729189</td>   <td></td> </tr>
<tr bgcolor="df90b0">  <td>17/08/07 22:52:35</td>   <td>4328883</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TC30_Send_Location_details_to_email_address.getResult()[pri:0, instance:stagingQA3.TC30_Send_Location_details_to_email_address@1ef968d]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@8729189</td>   <td></td> </tr>
<tr bgcolor="8da5ba">  <td>17/08/07 22:53:02</td>   <td>4355502</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BrowserStackTestNGTest.tearDown()[pri:0, instance:stagingQA3.TC30_Send_Location_details_to_email_address@1ef968d]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@8729189</td>   <td></td> </tr>
<tr bgcolor="8da5ba">  <td>17/08/07 22:53:02</td>   <td>4355547</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BrowserStackTestNGTest.setUp(java.lang.String, java.lang.String)[pri:0, instance:stagingQA3.TC33_Search_radius_selection@1e028a9]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@8729189</td>   <td></td> </tr>
<tr bgcolor="b36d79">  <td>17/08/07 22:53:22</td>   <td>4375959</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TC33_Search_radius_selection.handleTestMethodName(java.lang.reflect.Method)[pri:0, instance:stagingQA3.TC33_Search_radius_selection@1e028a9]">&gt;&gt;handleTestMethodName</td> 
<td>&nbsp;</td>  <td>main@8729189</td>   <td></td> </tr>
<tr bgcolor="b36d79">  <td>17/08/07 22:53:22</td>   <td>4375959</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC33_Search_radius_selection.search_radius_selection()[pri:0, instance:stagingQA3.TC33_Search_radius_selection@1e028a9]">search_radius_selection</td> 
  <td>main@8729189</td>   <td></td> </tr>
<tr bgcolor="b36d79">  <td>17/08/07 22:54:36</td>   <td>4449382</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TC33_Search_radius_selection.getResult()[pri:0, instance:stagingQA3.TC33_Search_radius_selection@1e028a9]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@8729189</td>   <td></td> </tr>
<tr bgcolor="8da5ba">  <td>17/08/07 22:54:36</td>   <td>4449541</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BrowserStackTestNGTest.tearDown()[pri:0, instance:stagingQA3.TC33_Search_radius_selection@1e028a9]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@8729189</td>   <td></td> </tr>
<tr bgcolor="8da5ba">  <td>17/08/07 22:54:36</td>   <td>4449583</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BrowserStackTestNGTest.setUp(java.lang.String, java.lang.String)[pri:0, instance:stagingQA3.TC40_Header_Footer_links@1d4520b]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@8729189</td>   <td></td> </tr>
<tr bgcolor="61a3d3">  <td>17/08/07 22:54:53</td>   <td>4467140</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TC40_Header_Footer_links.handleTestMethodName(java.lang.reflect.Method)[pri:0, instance:stagingQA3.TC40_Header_Footer_links@1d4520b]">&gt;&gt;handleTestMethodName</td> 
<td>&nbsp;</td>  <td>main@8729189</td>   <td></td> </tr>
<tr bgcolor="61a3d3">  <td>17/08/07 22:54:53</td>   <td>4467140</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC40_Header_Footer_links.eader_Footer_links()[pri:0, instance:stagingQA3.TC40_Header_Footer_links@1d4520b]">eader_Footer_links</td> 
  <td>main@8729189</td>   <td></td> </tr>
<tr bgcolor="61a3d3">  <td>17/08/07 22:55:15</td>   <td>4488247</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TC40_Header_Footer_links.getResult()[pri:0, instance:stagingQA3.TC40_Header_Footer_links@1d4520b]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@8729189</td>   <td></td> </tr>
<tr bgcolor="8da5ba">  <td>17/08/07 22:55:39</td>   <td>4512498</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BrowserStackTestNGTest.tearDown()[pri:0, instance:stagingQA3.TC40_Header_Footer_links@1d4520b]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@8729189</td>   <td></td> </tr>
</table>
