<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Single</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="e8b466">  <td>17/08/07 20:42:54</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC4_Blank_address_search_textbox.blank_address_search_textbox()[pri:0, instance:stagingQA1.TC4_Blank_address_search_textbox@19c0f4a]">blank_address_search_textbox</td> 
  <td>main@26552877</td>   <td></td> </tr>
<tr bgcolor="fbd876">  <td>17/08/07 20:42:12</td>   <td>-42513</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TC1_To_verify_page_load_on_browser.getResult(org.testng.ITestResult)[pri:0, instance:stagingQA1.TC1_To_verify_page_load_on_browser@83b407]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@26552877</td>   <td></td> </tr>
<tr bgcolor="8bcfcb">  <td>17/08/07 20:42:51</td>   <td>-3006</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TC2_To_verify_regionalmap_presented_on_page_load.getResult(org.testng.ITestResult)[pri:0, instance:stagingQA1.TC2_To_verify_regionalmap_presented_on_page_load@19d1a19]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@26552877</td>   <td></td> </tr>
<tr bgcolor="e8b466">  <td>17/08/07 20:42:54</td>   <td>5</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TC4_Blank_address_search_textbox.getResult(org.testng.ITestResult)[pri:0, instance:stagingQA1.TC4_Blank_address_search_textbox@19c0f4a]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@26552877</td>   <td></td> </tr>
<tr bgcolor="756ead">  <td>17/08/07 20:43:35</td>   <td>40501</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TC5_Special_characters_in_the_search_textbox.getResult(org.testng.ITestResult)[pri:0, instance:stagingQA1.TC5_Special_characters_in_the_search_textbox@194d431]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@26552877</td>   <td></td> </tr>
<tr bgcolor="6e8abd">  <td>17/08/07 20:47:42</td>   <td>287805</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TC6_valid_postal_code.getResult(org.testng.ITestResult)[pri:0, instance:stagingQA1.TC6_valid_postal_code@e26948]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@26552877</td>   <td></td> </tr>
<tr bgcolor="fbd876">  <td>17/08/07 20:41:36</td>   <td>-78133</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TC1_To_verify_page_load_on_browser.handleTestMethodName(java.lang.reflect.Method)[pri:0, instance:stagingQA1.TC1_To_verify_page_load_on_browser@83b407]">&gt;&gt;handleTestMethodName</td> 
<td>&nbsp;</td>  <td>main@26552877</td>   <td></td> </tr>
<tr bgcolor="8bcfcb">  <td>17/08/07 20:42:16</td>   <td>-38661</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TC2_To_verify_regionalmap_presented_on_page_load.handleTestMethodName(java.lang.reflect.Method)[pri:0, instance:stagingQA1.TC2_To_verify_regionalmap_presented_on_page_load@19d1a19]">&gt;&gt;handleTestMethodName</td> 
<td>&nbsp;</td>  <td>main@26552877</td>   <td></td> </tr>
<tr bgcolor="e8b466">  <td>17/08/07 20:42:54</td>   <td>-2</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TC4_Blank_address_search_textbox.handleTestMethodName(java.lang.reflect.Method)[pri:0, instance:stagingQA1.TC4_Blank_address_search_textbox@19c0f4a]">&gt;&gt;handleTestMethodName</td> 
<td>&nbsp;</td>  <td>main@26552877</td>   <td></td> </tr>
<tr bgcolor="756ead">  <td>17/08/07 20:42:57</td>   <td>3021</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TC5_Special_characters_in_the_search_textbox.handleTestMethodName(java.lang.reflect.Method)[pri:0, instance:stagingQA1.TC5_Special_characters_in_the_search_textbox@194d431]">&gt;&gt;handleTestMethodName</td> 
<td>&nbsp;</td>  <td>main@26552877</td>   <td></td> </tr>
<tr bgcolor="6e8abd">  <td>17/08/07 20:43:38</td>   <td>43541</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TC6_valid_postal_code.handleTestMethodName(java.lang.reflect.Method)[pri:0, instance:stagingQA1.TC6_valid_postal_code@e26948]">&gt;&gt;handleTestMethodName</td> 
<td>&nbsp;</td>  <td>main@26552877</td>   <td></td> </tr>
<tr bgcolor="687592">  <td>17/08/07 20:41:33</td>   <td>-81483</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BrowserStackTestNGTest.setUp(java.lang.String, java.lang.String)[pri:0, instance:stagingQA1.TC1_To_verify_page_load_on_browser@83b407]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@26552877</td>   <td></td> </tr>
<tr bgcolor="687592">  <td>17/08/07 20:42:13</td>   <td>-40932</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BrowserStackTestNGTest.setUp(java.lang.String, java.lang.String)[pri:0, instance:stagingQA1.TC2_To_verify_regionalmap_presented_on_page_load@19d1a19]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@26552877</td>   <td></td> </tr>
<tr bgcolor="687592">  <td>17/08/07 20:42:52</td>   <td>-2178</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BrowserStackTestNGTest.setUp(java.lang.String, java.lang.String)[pri:0, instance:stagingQA1.TC4_Blank_address_search_textbox@19c0f4a]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@26552877</td>   <td></td> </tr>
<tr bgcolor="687592">  <td>17/08/07 20:42:55</td>   <td>884</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BrowserStackTestNGTest.setUp(java.lang.String, java.lang.String)[pri:0, instance:stagingQA1.TC5_Special_characters_in_the_search_textbox@194d431]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@26552877</td>   <td></td> </tr>
<tr bgcolor="687592">  <td>17/08/07 20:43:36</td>   <td>41379</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BrowserStackTestNGTest.setUp(java.lang.String, java.lang.String)[pri:0, instance:stagingQA1.TC6_valid_postal_code@e26948]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@26552877</td>   <td></td> </tr>
<tr bgcolor="756ead">  <td>17/08/07 20:42:57</td>   <td>3021</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC5_Special_characters_in_the_search_textbox.special_characters_in_the_search_textbox()[pri:0, instance:stagingQA1.TC5_Special_characters_in_the_search_textbox@194d431]">special_characters_in_the_search_textbox</td> 
  <td>main@26552877</td>   <td></td> </tr>
<tr bgcolor="687592">  <td>17/08/07 20:42:13</td>   <td>-41220</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BrowserStackTestNGTest.tearDown()[pri:0, instance:stagingQA1.TC1_To_verify_page_load_on_browser@83b407]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@26552877</td>   <td></td> </tr>
<tr bgcolor="687592">  <td>17/08/07 20:42:51</td>   <td>-3003</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BrowserStackTestNGTest.tearDown()[pri:0, instance:stagingQA1.TC2_To_verify_regionalmap_presented_on_page_load@19d1a19]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@26552877</td>   <td></td> </tr>
<tr bgcolor="687592">  <td>17/08/07 20:42:54</td>   <td>5</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BrowserStackTestNGTest.tearDown()[pri:0, instance:stagingQA1.TC4_Blank_address_search_textbox@19c0f4a]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@26552877</td>   <td></td> </tr>
<tr bgcolor="687592">  <td>17/08/07 20:43:35</td>   <td>40504</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BrowserStackTestNGTest.tearDown()[pri:0, instance:stagingQA1.TC5_Special_characters_in_the_search_textbox@194d431]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@26552877</td>   <td></td> </tr>
<tr bgcolor="687592">  <td>17/08/07 20:47:42</td>   <td>287805</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BrowserStackTestNGTest.tearDown()[pri:0, instance:stagingQA1.TC6_valid_postal_code@e26948]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@26552877</td>   <td></td> </tr>
<tr bgcolor="6e8abd">  <td>17/08/07 20:43:38</td>   <td>43541</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC6_valid_postal_code.valid_postal_code()[pri:0, instance:stagingQA1.TC6_valid_postal_code@e26948]">valid_postal_code</td> 
  <td>main@26552877</td>   <td></td> </tr>
<tr bgcolor="fbd876">  <td>17/08/07 20:41:36</td>   <td>-78133</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC1_To_verify_page_load_on_browser.verify_page_load_on_browser()[pri:0, instance:stagingQA1.TC1_To_verify_page_load_on_browser@83b407]">verify_page_load_on_browser</td> 
  <td>main@26552877</td>   <td></td> </tr>
<tr bgcolor="8bcfcb">  <td>17/08/07 20:42:16</td>   <td>-38661</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC2_To_verify_regionalmap_presented_on_page_load.verify_regionalmap_presented_on_page_load()[pri:0, instance:stagingQA1.TC2_To_verify_regionalmap_presented_on_page_load@19d1a19]">verify_regionalmap_presented_on_page_load</td> 
  <td>main@26552877</td>   <td></td> </tr>
</table>
