<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Failed suite [BackBoneLibrary]</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="659282">  <td>17/05/02 12:29:01</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC4_Blank_address_search_textbox.blank_address_search_textbox()[pri:0, instance:stagingQA1.TC4_Blank_address_search_textbox@527740a2]">blank_address_search_textbox</td> 
  <td>main@665188480</td>   <td></td> </tr>
<tr bgcolor="c4639c">  <td>17/05/02 12:29:12</td>   <td>10604</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC4_Blank_address_search_textbox.blank_address_search_textbox()[pri:0, instance:stagingQA2.TC4_Blank_address_search_textbox@2b552920]">blank_address_search_textbox</td> 
  <td>main@665188480</td>   <td></td> </tr>
<tr bgcolor="be83e4">  <td>17/05/02 12:29:21</td>   <td>19936</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC4_Blank_address_search_textbox.blank_address_search_textbox()[pri:0, instance:stagingQA3.TC4_Blank_address_search_textbox@7494e528]">blank_address_search_textbox</td> 
  <td>main@665188480</td>   <td></td> </tr>
<tr bgcolor="659282">  <td>17/05/02 12:29:01</td>   <td>12</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TC4_Blank_address_search_textbox.getResult(org.testng.ITestResult)[pri:0, instance:stagingQA1.TC4_Blank_address_search_textbox@527740a2]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@665188480</td>   <td></td> </tr>
<tr bgcolor="c4639c">  <td>17/05/02 12:29:12</td>   <td>10608</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TC4_Blank_address_search_textbox.getResult(org.testng.ITestResult)[pri:0, instance:stagingQA2.TC4_Blank_address_search_textbox@2b552920]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@665188480</td>   <td></td> </tr>
<tr bgcolor="be83e4">  <td>17/05/02 12:29:21</td>   <td>19939</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TC4_Blank_address_search_textbox.getResult(org.testng.ITestResult)[pri:0, instance:stagingQA3.TC4_Blank_address_search_textbox@7494e528]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@665188480</td>   <td></td> </tr>
<tr bgcolor="659282">  <td>17/05/02 12:29:01</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TC4_Blank_address_search_textbox.handleTestMethodName(java.lang.reflect.Method)[pri:0, instance:stagingQA1.TC4_Blank_address_search_textbox@527740a2]">&gt;&gt;handleTestMethodName</td> 
<td>&nbsp;</td>  <td>main@665188480</td>   <td></td> </tr>
<tr bgcolor="c4639c">  <td>17/05/02 12:29:12</td>   <td>10604</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TC4_Blank_address_search_textbox.handleTestMethodName(java.lang.reflect.Method)[pri:0, instance:stagingQA2.TC4_Blank_address_search_textbox@2b552920]">&gt;&gt;handleTestMethodName</td> 
<td>&nbsp;</td>  <td>main@665188480</td>   <td></td> </tr>
<tr bgcolor="be83e4">  <td>17/05/02 12:29:21</td>   <td>19936</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TC4_Blank_address_search_textbox.handleTestMethodName(java.lang.reflect.Method)[pri:0, instance:stagingQA3.TC4_Blank_address_search_textbox@7494e528]">&gt;&gt;handleTestMethodName</td> 
<td>&nbsp;</td>  <td>main@665188480</td>   <td></td> </tr>
<tr bgcolor="7e8f62">  <td>17/05/02 12:28:54</td>   <td>-7800</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BrowserStackTestNGTest.setUp(java.lang.String, java.lang.String)[pri:0, instance:stagingQA1.TC4_Blank_address_search_textbox@527740a2]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@665188480</td>   <td></td> </tr>
<tr bgcolor="7e8f62">  <td>17/05/02 12:29:08</td>   <td>6174</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BrowserStackTestNGTest.setUp(java.lang.String, java.lang.String)[pri:0, instance:stagingQA2.TC4_Blank_address_search_textbox@2b552920]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@665188480</td>   <td></td> </tr>
<tr bgcolor="7e8f62">  <td>17/05/02 12:29:19</td>   <td>17347</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BrowserStackTestNGTest.setUp(java.lang.String, java.lang.String)[pri:0, instance:stagingQA3.TC4_Blank_address_search_textbox@7494e528]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@665188480</td>   <td></td> </tr>
<tr bgcolor="7e8f62">  <td>17/05/02 12:29:01</td>   <td>18</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BrowserStackTestNGTest.tearDown()[pri:0, instance:stagingQA1.TC4_Blank_address_search_textbox@527740a2]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@665188480</td>   <td></td> </tr>
<tr bgcolor="7e8f62">  <td>17/05/02 12:29:12</td>   <td>10612</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BrowserStackTestNGTest.tearDown()[pri:0, instance:stagingQA2.TC4_Blank_address_search_textbox@2b552920]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@665188480</td>   <td></td> </tr>
<tr bgcolor="7e8f62">  <td>17/05/02 12:29:21</td>   <td>19945</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BrowserStackTestNGTest.tearDown()[pri:0, instance:stagingQA3.TC4_Blank_address_search_textbox@7494e528]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@665188480</td>   <td></td> </tr>
</table>
