<h2>Methods that were not run</h2><table>
<tr><td>stagingQA1.TC8_valid_city_and_state_name.valid_postal_code</td></tr>
<tr><td>stagingQA3.TC33_Search_radius_selection.search_radius_selection</td></tr>
<tr><td>stagingQA2.TC2_To_verify_regionalmap_presented_on_page_load.verify_regionalmap_presented_on_page_load</td></tr>
<tr><td>stagingQA1.TC23_Zoom_out.zoom_out</td></tr>
<tr><td>stagingQA2.TC11_Valid_StreetAddress_City_and_StateProvince_provided.valid_cityName_invalid_state</td></tr>
<tr><td>stagingQA3.TC10_valid_cityName_invalid_state.valid_cityName_invalid_state</td></tr>
<tr><td>stagingQA3.TC7_invalid_postal_code.valid_postal_code</td></tr>
<tr><td>stagingQA2.TC4_Blank_address_search_textbox.blank_address_search_textbox</td></tr>
<tr><td>stagingQA3.TC12_Invalid_Street_address_with_valid_CityName_and_valid_StateName.invalid_Street_address_with_valid_CityName_and_valid_StateName</td></tr>
<tr><td>stagingQA1.TC30_Send_Location_details_to_email_address.send_location_details_to_email_address</td></tr>
<tr><td>stagingQA2.TC5_Special_characters_in_the_search_textbox.special_characters_in_the_search_textbox</td></tr>
<tr><td>stagingQA3.TC40_Header_Footer_links.eader_Footer_links</td></tr>
<tr><td>stagingQA3.TC25_Result_Panel_Click_on_Bubble.result_Panel_Click_on_Bubble</td></tr>
<tr><td>stagingQA3.TC26_Get_direction_button.get_Direction_Button</td></tr>
<tr><td>stagingQA2.TC10_valid_cityName_invalid_state.valid_cityName_invalid_state</td></tr>
<tr><td>stagingQA2.TC25_Result_Panel_Click_on_Bubble.result_Panel_Click_on_Bubble</td></tr>
<tr><td>stagingQA3.TC8_valid_city_and_state_name.valid_postal_code</td></tr>
<tr><td>stagingQA1.TC7_invalid_postal_code.valid_postal_code</td></tr>
<tr><td>stagingQA1.TC40_Header_Footer_links.eader_Footer_links</td></tr>
<tr><td>stagingQA1.TC26_Get_direction_button.get_Direction_Button</td></tr>
<tr><td>stagingQA1.TC5_Special_characters_in_the_search_textbox.special_characters_in_the_search_textbox</td></tr>
<tr><td>stagingQA1.TC12_Invalid_Street_address_with_valid_CityName_and_valid_StateName.invalid_Street_address_with_valid_CityName_and_valid_StateName</td></tr>
<tr><td>stagingQA3.TC1_To_verify_page_load_on_browser.verify_page_load_on_browser</td></tr>
<tr><td>stagingQA2.TC26_Get_direction_button.get_Direction_Button</td></tr>
<tr><td>stagingQA2.TC23_Zoom_out.zoom_out</td></tr>
<tr><td>stagingQA3.TC11_Valid_StreetAddress_City_and_StateProvince_provided.valid_cityName_invalid_state</td></tr>
<tr><td>stagingQA2.TC6_valid_postal_code.valid_postal_code</td></tr>
<tr><td>stagingQA2.TC7_invalid_postal_code.valid_postal_code</td></tr>
<tr><td>stagingQA3.TC5_Special_characters_in_the_search_textbox.special_characters_in_the_search_textbox</td></tr>
<tr><td>stagingQA2.TC12_Invalid_Street_address_with_valid_CityName_and_valid_StateName.invalid_Street_address_with_valid_CityName_and_valid_StateName</td></tr>
<tr><td>stagingQA3.TC2_To_verify_regionalmap_presented_on_page_load.verify_regionalmap_presented_on_page_load</td></tr>
<tr><td>stagingQA1.TC11_Valid_StreetAddress_City_and_StateProvince_provided.valid_cityName_invalid_state</td></tr>
<tr><td>stagingQA2.TC33_Search_radius_selection.search_radius_selection</td></tr>
<tr><td>stagingQA3.TC30_Send_Location_details_to_email_address.send_location_details_to_email_address</td></tr>
<tr><td>stagingQA3.TC23_Zoom_out.zoom_out</td></tr>
<tr><td>stagingQA1.TC25_Result_Panel_Click_on_Bubble.result_Panel_Click_on_Bubble</td></tr>
<tr><td>stagingQA2.TC1_To_verify_page_load_on_browser.verify_page_load_on_browser</td></tr>
<tr><td>stagingQA1.TC10_valid_cityName_invalid_state.valid_cityName_invalid_state</td></tr>
<tr><td>stagingQA2.TC8_valid_city_and_state_name.valid_postal_code</td></tr>
<tr><td>stagingQA3.TC4_Blank_address_search_textbox.blank_address_search_textbox</td></tr>
<tr><td>stagingQA2.TC22_Zoom_In.zoom_In</td></tr>
<tr><td>stagingQA1.TC22_Zoom_In.zoom_In</td></tr>
<tr><td>stagingQA1.TC33_Search_radius_selection.search_radius_selection</td></tr>
<tr><td>stagingQA3.TC6_valid_postal_code.valid_postal_code</td></tr>
<tr><td>stagingQA3.TC22_Zoom_In.zoom_In</td></tr>
<tr><td>stagingQA1.TC1_To_verify_page_load_on_browser.verify_page_load_on_browser</td></tr>
<tr><td>stagingQA1.TC6_valid_postal_code.valid_postal_code</td></tr>
<tr><td>stagingQA1.TC2_To_verify_regionalmap_presented_on_page_load.verify_regionalmap_presented_on_page_load</td></tr>
<tr><td>stagingQA2.TC40_Header_Footer_links.eader_Footer_links</td></tr>
<tr><td>stagingQA2.TC30_Send_Location_details_to_email_address.send_location_details_to_email_address</td></tr>
<tr><td>stagingQA1.TC8_valid_city_and_state_name.valid_postal_code</td></tr>
<tr><td>stagingQA3.TC33_Search_radius_selection.search_radius_selection</td></tr>
<tr><td>stagingQA2.TC2_To_verify_regionalmap_presented_on_page_load.verify_regionalmap_presented_on_page_load</td></tr>
<tr><td>stagingQA1.TC23_Zoom_out.zoom_out</td></tr>
<tr><td>stagingQA2.TC11_Valid_StreetAddress_City_and_StateProvince_provided.valid_cityName_invalid_state</td></tr>
<tr><td>stagingQA3.TC10_valid_cityName_invalid_state.valid_cityName_invalid_state</td></tr>
<tr><td>stagingQA3.TC7_invalid_postal_code.valid_postal_code</td></tr>
<tr><td>stagingQA3.TC12_Invalid_Street_address_with_valid_CityName_and_valid_StateName.invalid_Street_address_with_valid_CityName_and_valid_StateName</td></tr>
<tr><td>stagingQA1.TC30_Send_Location_details_to_email_address.send_location_details_to_email_address</td></tr>
<tr><td>stagingQA2.TC5_Special_characters_in_the_search_textbox.special_characters_in_the_search_textbox</td></tr>
<tr><td>stagingQA3.TC40_Header_Footer_links.eader_Footer_links</td></tr>
<tr><td>stagingQA3.TC25_Result_Panel_Click_on_Bubble.result_Panel_Click_on_Bubble</td></tr>
<tr><td>stagingQA3.TC26_Get_direction_button.get_Direction_Button</td></tr>
<tr><td>stagingQA2.TC10_valid_cityName_invalid_state.valid_cityName_invalid_state</td></tr>
<tr><td>stagingQA2.TC25_Result_Panel_Click_on_Bubble.result_Panel_Click_on_Bubble</td></tr>
<tr><td>stagingQA3.TC8_valid_city_and_state_name.valid_postal_code</td></tr>
<tr><td>stagingQA1.TC7_invalid_postal_code.valid_postal_code</td></tr>
<tr><td>stagingQA1.TC40_Header_Footer_links.eader_Footer_links</td></tr>
<tr><td>stagingQA1.TC26_Get_direction_button.get_Direction_Button</td></tr>
<tr><td>stagingQA1.TC5_Special_characters_in_the_search_textbox.special_characters_in_the_search_textbox</td></tr>
<tr><td>stagingQA1.TC12_Invalid_Street_address_with_valid_CityName_and_valid_StateName.invalid_Street_address_with_valid_CityName_and_valid_StateName</td></tr>
<tr><td>stagingQA3.TC1_To_verify_page_load_on_browser.verify_page_load_on_browser</td></tr>
<tr><td>stagingQA2.TC26_Get_direction_button.get_Direction_Button</td></tr>
<tr><td>stagingQA2.TC23_Zoom_out.zoom_out</td></tr>
<tr><td>stagingQA3.TC11_Valid_StreetAddress_City_and_StateProvince_provided.valid_cityName_invalid_state</td></tr>
<tr><td>stagingQA2.TC6_valid_postal_code.valid_postal_code</td></tr>
<tr><td>stagingQA2.TC7_invalid_postal_code.valid_postal_code</td></tr>
<tr><td>stagingQA3.TC5_Special_characters_in_the_search_textbox.special_characters_in_the_search_textbox</td></tr>
<tr><td>stagingQA2.TC12_Invalid_Street_address_with_valid_CityName_and_valid_StateName.invalid_Street_address_with_valid_CityName_and_valid_StateName</td></tr>
<tr><td>stagingQA3.TC2_To_verify_regionalmap_presented_on_page_load.verify_regionalmap_presented_on_page_load</td></tr>
<tr><td>stagingQA1.TC11_Valid_StreetAddress_City_and_StateProvince_provided.valid_cityName_invalid_state</td></tr>
<tr><td>stagingQA2.TC33_Search_radius_selection.search_radius_selection</td></tr>
<tr><td>stagingQA3.TC30_Send_Location_details_to_email_address.send_location_details_to_email_address</td></tr>
<tr><td>stagingQA3.TC23_Zoom_out.zoom_out</td></tr>
<tr><td>stagingQA1.TC25_Result_Panel_Click_on_Bubble.result_Panel_Click_on_Bubble</td></tr>
<tr><td>stagingQA2.TC1_To_verify_page_load_on_browser.verify_page_load_on_browser</td></tr>
<tr><td>stagingQA1.TC10_valid_cityName_invalid_state.valid_cityName_invalid_state</td></tr>
<tr><td>stagingQA2.TC8_valid_city_and_state_name.valid_postal_code</td></tr>
<tr><td>stagingQA1.TC4_Blank_address_search_textbox.blank_address_search_textbox</td></tr>
<tr><td>stagingQA3.TC4_Blank_address_search_textbox.blank_address_search_textbox</td></tr>
<tr><td>stagingQA2.TC22_Zoom_In.zoom_In</td></tr>
<tr><td>stagingQA1.TC22_Zoom_In.zoom_In</td></tr>
<tr><td>stagingQA1.TC33_Search_radius_selection.search_radius_selection</td></tr>
<tr><td>stagingQA3.TC6_valid_postal_code.valid_postal_code</td></tr>
<tr><td>stagingQA3.TC22_Zoom_In.zoom_In</td></tr>
<tr><td>stagingQA1.TC1_To_verify_page_load_on_browser.verify_page_load_on_browser</td></tr>
<tr><td>stagingQA1.TC6_valid_postal_code.valid_postal_code</td></tr>
<tr><td>stagingQA1.TC2_To_verify_regionalmap_presented_on_page_load.verify_regionalmap_presented_on_page_load</td></tr>
<tr><td>stagingQA2.TC40_Header_Footer_links.eader_Footer_links</td></tr>
<tr><td>stagingQA2.TC30_Send_Location_details_to_email_address.send_location_details_to_email_address</td></tr>
<tr><td>stagingQA1.TC8_valid_city_and_state_name.valid_postal_code</td></tr>
<tr><td>stagingQA3.TC33_Search_radius_selection.search_radius_selection</td></tr>
<tr><td>stagingQA2.TC2_To_verify_regionalmap_presented_on_page_load.verify_regionalmap_presented_on_page_load</td></tr>
<tr><td>stagingQA1.TC23_Zoom_out.zoom_out</td></tr>
<tr><td>stagingQA2.TC11_Valid_StreetAddress_City_and_StateProvince_provided.valid_cityName_invalid_state</td></tr>
<tr><td>stagingQA3.TC10_valid_cityName_invalid_state.valid_cityName_invalid_state</td></tr>
<tr><td>stagingQA3.TC7_invalid_postal_code.valid_postal_code</td></tr>
<tr><td>stagingQA2.TC4_Blank_address_search_textbox.blank_address_search_textbox</td></tr>
<tr><td>stagingQA3.TC12_Invalid_Street_address_with_valid_CityName_and_valid_StateName.invalid_Street_address_with_valid_CityName_and_valid_StateName</td></tr>
<tr><td>stagingQA1.TC30_Send_Location_details_to_email_address.send_location_details_to_email_address</td></tr>
<tr><td>stagingQA2.TC5_Special_characters_in_the_search_textbox.special_characters_in_the_search_textbox</td></tr>
<tr><td>stagingQA3.TC40_Header_Footer_links.eader_Footer_links</td></tr>
<tr><td>stagingQA3.TC25_Result_Panel_Click_on_Bubble.result_Panel_Click_on_Bubble</td></tr>
<tr><td>stagingQA3.TC26_Get_direction_button.get_Direction_Button</td></tr>
<tr><td>stagingQA2.TC10_valid_cityName_invalid_state.valid_cityName_invalid_state</td></tr>
<tr><td>stagingQA2.TC25_Result_Panel_Click_on_Bubble.result_Panel_Click_on_Bubble</td></tr>
<tr><td>stagingQA3.TC8_valid_city_and_state_name.valid_postal_code</td></tr>
<tr><td>stagingQA1.TC7_invalid_postal_code.valid_postal_code</td></tr>
<tr><td>stagingQA1.TC40_Header_Footer_links.eader_Footer_links</td></tr>
<tr><td>stagingQA1.TC26_Get_direction_button.get_Direction_Button</td></tr>
<tr><td>stagingQA1.TC5_Special_characters_in_the_search_textbox.special_characters_in_the_search_textbox</td></tr>
<tr><td>stagingQA1.TC12_Invalid_Street_address_with_valid_CityName_and_valid_StateName.invalid_Street_address_with_valid_CityName_and_valid_StateName</td></tr>
<tr><td>stagingQA3.TC1_To_verify_page_load_on_browser.verify_page_load_on_browser</td></tr>
<tr><td>stagingQA2.TC26_Get_direction_button.get_Direction_Button</td></tr>
<tr><td>stagingQA2.TC23_Zoom_out.zoom_out</td></tr>
<tr><td>stagingQA3.TC11_Valid_StreetAddress_City_and_StateProvince_provided.valid_cityName_invalid_state</td></tr>
<tr><td>stagingQA2.TC6_valid_postal_code.valid_postal_code</td></tr>
<tr><td>stagingQA2.TC7_invalid_postal_code.valid_postal_code</td></tr>
<tr><td>stagingQA3.TC5_Special_characters_in_the_search_textbox.special_characters_in_the_search_textbox</td></tr>
<tr><td>stagingQA2.TC12_Invalid_Street_address_with_valid_CityName_and_valid_StateName.invalid_Street_address_with_valid_CityName_and_valid_StateName</td></tr>
<tr><td>stagingQA3.TC2_To_verify_regionalmap_presented_on_page_load.verify_regionalmap_presented_on_page_load</td></tr>
<tr><td>stagingQA1.TC11_Valid_StreetAddress_City_and_StateProvince_provided.valid_cityName_invalid_state</td></tr>
<tr><td>stagingQA2.TC33_Search_radius_selection.search_radius_selection</td></tr>
<tr><td>stagingQA3.TC30_Send_Location_details_to_email_address.send_location_details_to_email_address</td></tr>
<tr><td>stagingQA3.TC23_Zoom_out.zoom_out</td></tr>
<tr><td>stagingQA1.TC25_Result_Panel_Click_on_Bubble.result_Panel_Click_on_Bubble</td></tr>
<tr><td>stagingQA2.TC1_To_verify_page_load_on_browser.verify_page_load_on_browser</td></tr>
<tr><td>stagingQA1.TC10_valid_cityName_invalid_state.valid_cityName_invalid_state</td></tr>
<tr><td>stagingQA2.TC8_valid_city_and_state_name.valid_postal_code</td></tr>
<tr><td>stagingQA1.TC4_Blank_address_search_textbox.blank_address_search_textbox</td></tr>
<tr><td>stagingQA2.TC22_Zoom_In.zoom_In</td></tr>
<tr><td>stagingQA1.TC22_Zoom_In.zoom_In</td></tr>
<tr><td>stagingQA1.TC33_Search_radius_selection.search_radius_selection</td></tr>
<tr><td>stagingQA3.TC6_valid_postal_code.valid_postal_code</td></tr>
<tr><td>stagingQA3.TC22_Zoom_In.zoom_In</td></tr>
<tr><td>stagingQA1.TC1_To_verify_page_load_on_browser.verify_page_load_on_browser</td></tr>
<tr><td>stagingQA1.TC6_valid_postal_code.valid_postal_code</td></tr>
<tr><td>stagingQA1.TC2_To_verify_regionalmap_presented_on_page_load.verify_regionalmap_presented_on_page_load</td></tr>
<tr><td>stagingQA2.TC40_Header_Footer_links.eader_Footer_links</td></tr>
<tr><td>stagingQA2.TC30_Send_Location_details_to_email_address.send_location_details_to_email_address</td></tr>
</table>