<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Parallel</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="b3acfe">  <td>17/08/07 19:54:14</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BrowserStackTestNGTest.setUp(java.lang.String, java.lang.String)[pri:0, instance:stagingQA1.TC1_To_verify_page_load_on_browser@11053e1]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>TestNG@23657884</td>   <td></td> </tr>
<tr bgcolor="fbd876">  <td>17/08/07 19:54:19</td>   <td>4493</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TC1_To_verify_page_load_on_browser.handleTestMethodName(java.lang.reflect.Method)[pri:0, instance:stagingQA1.TC1_To_verify_page_load_on_browser@11053e1]">&gt;&gt;handleTestMethodName</td> 
<td>&nbsp;</td>  <td>TestNG@23657884</td>   <td></td> </tr>
<tr bgcolor="fbd876">  <td>17/08/07 19:54:19</td>   <td>4493</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC1_To_verify_page_load_on_browser.verify_page_load_on_browser()[pri:0, instance:stagingQA1.TC1_To_verify_page_load_on_browser@11053e1]">verify_page_load_on_browser</td> 
  <td>TestNG@23657884</td>   <td></td> </tr>
<tr bgcolor="fbd876">  <td>17/08/07 19:54:47</td>   <td>33191</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TC1_To_verify_page_load_on_browser.getResult(org.testng.ITestResult)[pri:0, instance:stagingQA1.TC1_To_verify_page_load_on_browser@11053e1]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>TestNG@23657884</td>   <td></td> </tr>
<tr bgcolor="b3acfe">  <td>17/08/07 19:54:50</td>   <td>36237</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BrowserStackTestNGTest.tearDown()[pri:0, instance:stagingQA1.TC1_To_verify_page_load_on_browser@11053e1]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>TestNG@23657884</td>   <td></td> </tr>
<tr bgcolor="b3acfe">  <td>17/08/07 19:54:51</td>   <td>36535</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BrowserStackTestNGTest.setUp(java.lang.String, java.lang.String)[pri:0, instance:stagingQA1.TC2_To_verify_regionalmap_presented_on_page_load@9838eb]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>TestNG@23657884</td>   <td></td> </tr>
<tr bgcolor="8bcfcb">  <td>17/08/07 19:54:55</td>   <td>40330</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TC2_To_verify_regionalmap_presented_on_page_load.handleTestMethodName(java.lang.reflect.Method)[pri:0, instance:stagingQA1.TC2_To_verify_regionalmap_presented_on_page_load@9838eb]">&gt;&gt;handleTestMethodName</td> 
<td>&nbsp;</td>  <td>TestNG@23657884</td>   <td></td> </tr>
<tr bgcolor="8bcfcb">  <td>17/08/07 19:54:55</td>   <td>40330</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC2_To_verify_regionalmap_presented_on_page_load.verify_regionalmap_presented_on_page_load()[pri:0, instance:stagingQA1.TC2_To_verify_regionalmap_presented_on_page_load@9838eb]">verify_regionalmap_presented_on_page_load</td> 
  <td>TestNG@23657884</td>   <td></td> </tr>
<tr bgcolor="8bcfcb">  <td>17/08/07 19:55:27</td>   <td>72834</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TC2_To_verify_regionalmap_presented_on_page_load.getResult(org.testng.ITestResult)[pri:0, instance:stagingQA1.TC2_To_verify_regionalmap_presented_on_page_load@9838eb]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>TestNG@23657884</td>   <td></td> </tr>
<tr bgcolor="b3acfe">  <td>17/08/07 19:55:27</td>   <td>72834</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BrowserStackTestNGTest.tearDown()[pri:0, instance:stagingQA1.TC2_To_verify_regionalmap_presented_on_page_load@9838eb]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>TestNG@23657884</td>   <td></td> </tr>
<tr bgcolor="b3acfe">  <td>17/08/07 19:55:28</td>   <td>73589</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BrowserStackTestNGTest.setUp(java.lang.String, java.lang.String)[pri:0, instance:stagingQA1.TC4_Blank_address_search_textbox@dafa95]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>TestNG@23657884</td>   <td></td> </tr>
<tr bgcolor="e8b466">  <td>17/08/07 19:55:31</td>   <td>76455</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TC4_Blank_address_search_textbox.handleTestMethodName(java.lang.reflect.Method)[pri:0, instance:stagingQA1.TC4_Blank_address_search_textbox@dafa95]">&gt;&gt;handleTestMethodName</td> 
<td>&nbsp;</td>  <td>TestNG@23657884</td>   <td></td> </tr>
<tr bgcolor="e8b466">  <td>17/08/07 19:55:31</td>   <td>76455</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC4_Blank_address_search_textbox.blank_address_search_textbox()[pri:0, instance:stagingQA1.TC4_Blank_address_search_textbox@dafa95]">blank_address_search_textbox</td> 
  <td>TestNG@23657884</td>   <td></td> </tr>
<tr bgcolor="e8b466">  <td>17/08/07 19:55:31</td>   <td>76459</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TC4_Blank_address_search_textbox.getResult(org.testng.ITestResult)[pri:0, instance:stagingQA1.TC4_Blank_address_search_textbox@dafa95]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>TestNG@23657884</td>   <td></td> </tr>
<tr bgcolor="b3acfe">  <td>17/08/07 19:55:31</td>   <td>76460</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BrowserStackTestNGTest.tearDown()[pri:0, instance:stagingQA1.TC4_Blank_address_search_textbox@dafa95]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>TestNG@23657884</td>   <td></td> </tr>
<tr bgcolor="b3acfe">  <td>17/08/07 19:55:31</td>   <td>77250</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BrowserStackTestNGTest.setUp(java.lang.String, java.lang.String)[pri:0, instance:stagingQA1.TC5_Special_characters_in_the_search_textbox@100df86]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>TestNG@23657884</td>   <td></td> </tr>
<tr bgcolor="756ead">  <td>17/08/07 19:55:34</td>   <td>79522</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TC5_Special_characters_in_the_search_textbox.handleTestMethodName(java.lang.reflect.Method)[pri:0, instance:stagingQA1.TC5_Special_characters_in_the_search_textbox@100df86]">&gt;&gt;handleTestMethodName</td> 
<td>&nbsp;</td>  <td>TestNG@23657884</td>   <td></td> </tr>
<tr bgcolor="756ead">  <td>17/08/07 19:55:34</td>   <td>79522</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC5_Special_characters_in_the_search_textbox.special_characters_in_the_search_textbox()[pri:0, instance:stagingQA1.TC5_Special_characters_in_the_search_textbox@100df86]">special_characters_in_the_search_textbox</td> 
  <td>TestNG@23657884</td>   <td></td> </tr>
<tr bgcolor="756ead">  <td>17/08/07 19:55:55</td>   <td>101113</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TC5_Special_characters_in_the_search_textbox.getResult(org.testng.ITestResult)[pri:0, instance:stagingQA1.TC5_Special_characters_in_the_search_textbox@100df86]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>TestNG@23657884</td>   <td></td> </tr>
<tr bgcolor="b3acfe">  <td>17/08/07 19:55:55</td>   <td>101114</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BrowserStackTestNGTest.tearDown()[pri:0, instance:stagingQA1.TC5_Special_characters_in_the_search_textbox@100df86]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>TestNG@23657884</td>   <td></td> </tr>
<tr bgcolor="b3acfe">  <td>17/08/07 19:55:56</td>   <td>101865</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BrowserStackTestNGTest.setUp(java.lang.String, java.lang.String)[pri:0, instance:stagingQA1.TC6_valid_postal_code@2a079c]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>TestNG@23657884</td>   <td></td> </tr>
<tr bgcolor="6e8abd">  <td>17/08/07 19:55:59</td>   <td>104431</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TC6_valid_postal_code.handleTestMethodName(java.lang.reflect.Method)[pri:0, instance:stagingQA1.TC6_valid_postal_code@2a079c]">&gt;&gt;handleTestMethodName</td> 
<td>&nbsp;</td>  <td>TestNG@23657884</td>   <td></td> </tr>
<tr bgcolor="6e8abd">  <td>17/08/07 19:55:59</td>   <td>104431</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC6_valid_postal_code.valid_postal_code()[pri:0, instance:stagingQA1.TC6_valid_postal_code@2a079c]">valid_postal_code</td> 
  <td>TestNG@23657884</td>   <td></td> </tr>
<tr bgcolor="6e8abd">  <td>17/08/07 19:56:33</td>   <td>138831</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TC6_valid_postal_code.getResult(org.testng.ITestResult)[pri:0, instance:stagingQA1.TC6_valid_postal_code@2a079c]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>TestNG@23657884</td>   <td></td> </tr>
<tr bgcolor="b3acfe">  <td>17/08/07 19:56:33</td>   <td>138831</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BrowserStackTestNGTest.tearDown()[pri:0, instance:stagingQA1.TC6_valid_postal_code@2a079c]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>TestNG@23657884</td>   <td></td> </tr>
<tr bgcolor="b3acfe">  <td>17/08/07 19:56:34</td>   <td>139682</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BrowserStackTestNGTest.setUp(java.lang.String, java.lang.String)[pri:0, instance:stagingQA1.TC7_invalid_postal_code@1ec2012]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>TestNG@23657884</td>   <td></td> </tr>
<tr bgcolor="eff760">  <td>17/08/07 19:56:37</td>   <td>143039</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TC7_invalid_postal_code.handleTestMethodName(java.lang.reflect.Method)[pri:0, instance:stagingQA1.TC7_invalid_postal_code@1ec2012]">&gt;&gt;handleTestMethodName</td> 
<td>&nbsp;</td>  <td>TestNG@23657884</td>   <td></td> </tr>
<tr bgcolor="eff760">  <td>17/08/07 19:56:37</td>   <td>143039</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC7_invalid_postal_code.valid_postal_code()[pri:0, instance:stagingQA1.TC7_invalid_postal_code@1ec2012]">valid_postal_code</td> 
  <td>TestNG@23657884</td>   <td></td> </tr>
<tr bgcolor="b3acfe">  <td>17/08/07 19:57:17</td>   <td>182357</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BrowserStackTestNGTest.tearDown()[pri:0, instance:stagingQA1.TC7_invalid_postal_code@1ec2012]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>TestNG@23657884</td>   <td></td> </tr>
<tr bgcolor="b3acfe">  <td>17/08/07 19:57:18</td>   <td>183315</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BrowserStackTestNGTest.setUp(java.lang.String, java.lang.String)[pri:0, instance:stagingQA1.TC8_valid_city_and_state_name@f777e8]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>TestNG@23657884</td>   <td></td> </tr>
<tr bgcolor="8f92ff">  <td>17/08/07 19:57:21</td>   <td>186425</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TC8_valid_city_and_state_name.handleTestMethodName(java.lang.reflect.Method)[pri:0, instance:stagingQA1.TC8_valid_city_and_state_name@f777e8]">&gt;&gt;handleTestMethodName</td> 
<td>&nbsp;</td>  <td>TestNG@23657884</td>   <td></td> </tr>
<tr bgcolor="8f92ff">  <td>17/08/07 19:57:21</td>   <td>186425</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC8_valid_city_and_state_name.valid_postal_code()[pri:0, instance:stagingQA1.TC8_valid_city_and_state_name@f777e8]">valid_postal_code</td> 
  <td>TestNG@23657884</td>   <td></td> </tr>
<tr bgcolor="b3acfe">  <td>17/08/07 19:57:57</td>   <td>222421</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BrowserStackTestNGTest.tearDown()[pri:0, instance:stagingQA1.TC8_valid_city_and_state_name@f777e8]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>TestNG@23657884</td>   <td></td> </tr>
<tr bgcolor="b3acfe">  <td>17/08/07 19:57:57</td>   <td>223205</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BrowserStackTestNGTest.setUp(java.lang.String, java.lang.String)[pri:0, instance:stagingQA1.TC10_valid_cityName_invalid_state@1686d1f]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>TestNG@23657884</td>   <td></td> </tr>
<tr bgcolor="9f8bb1">  <td>17/08/07 19:58:00</td>   <td>225996</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TC10_valid_cityName_invalid_state.handleTestMethodName(java.lang.reflect.Method)[pri:0, instance:stagingQA1.TC10_valid_cityName_invalid_state@1686d1f]">&gt;&gt;handleTestMethodName</td> 
<td>&nbsp;</td>  <td>TestNG@23657884</td>   <td></td> </tr>
<tr bgcolor="9f8bb1">  <td>17/08/07 19:58:00</td>   <td>225996</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC10_valid_cityName_invalid_state.valid_cityName_invalid_state()[pri:0, instance:stagingQA1.TC10_valid_cityName_invalid_state@1686d1f]">valid_cityName_invalid_state</td> 
  <td>TestNG@23657884</td>   <td></td> </tr>
<tr bgcolor="9f8bb1">  <td>17/08/07 19:58:58</td>   <td>283345</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TC10_valid_cityName_invalid_state.getResult(org.testng.ITestResult)[pri:0, instance:stagingQA1.TC10_valid_cityName_invalid_state@1686d1f]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>TestNG@23657884</td>   <td></td> </tr>
<tr bgcolor="b3acfe">  <td>17/08/07 19:58:58</td>   <td>283345</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BrowserStackTestNGTest.tearDown()[pri:0, instance:stagingQA1.TC10_valid_cityName_invalid_state@1686d1f]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>TestNG@23657884</td>   <td></td> </tr>
<tr bgcolor="b3acfe">  <td>17/08/07 19:58:58</td>   <td>284188</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BrowserStackTestNGTest.setUp(java.lang.String, java.lang.String)[pri:0, instance:stagingQA1.TC11_Valid_StreetAddress_City_and_StateProvince_provided@1ee9989]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>TestNG@23657884</td>   <td></td> </tr>
<tr bgcolor="e9a889">  <td>17/08/07 19:59:01</td>   <td>286515</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TC11_Valid_StreetAddress_City_and_StateProvince_provided.handleTestMethodName(java.lang.reflect.Method)[pri:0, instance:stagingQA1.TC11_Valid_StreetAddress_City_and_StateProvince_provided@1ee9989]">&gt;&gt;handleTestMethodName</td> 
<td>&nbsp;</td>  <td>TestNG@23657884</td>   <td></td> </tr>
<tr bgcolor="e9a889">  <td>17/08/07 19:59:01</td>   <td>286515</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC11_Valid_StreetAddress_City_and_StateProvince_provided.valid_cityName_invalid_state()[pri:0, instance:stagingQA1.TC11_Valid_StreetAddress_City_and_StateProvince_provided@1ee9989]">valid_cityName_invalid_state</td> 
  <td>TestNG@23657884</td>   <td></td> </tr>
<tr bgcolor="e9a889">  <td>17/08/07 19:59:34</td>   <td>319504</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TC11_Valid_StreetAddress_City_and_StateProvince_provided.getResult(org.testng.ITestResult)[pri:0, instance:stagingQA1.TC11_Valid_StreetAddress_City_and_StateProvince_provided@1ee9989]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>TestNG@23657884</td>   <td></td> </tr>
<tr bgcolor="b3acfe">  <td>17/08/07 19:59:34</td>   <td>319504</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BrowserStackTestNGTest.tearDown()[pri:0, instance:stagingQA1.TC11_Valid_StreetAddress_City_and_StateProvince_provided@1ee9989]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>TestNG@23657884</td>   <td></td> </tr>
<tr bgcolor="b3acfe">  <td>17/08/07 19:59:34</td>   <td>320284</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BrowserStackTestNGTest.setUp(java.lang.String, java.lang.String)[pri:0, instance:stagingQA1.TC12_Invalid_Street_address_with_valid_CityName_and_valid_StateName@13ad2d6]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>TestNG@23657884</td>   <td></td> </tr>
<tr bgcolor="8a60e3">  <td>17/08/07 19:59:37</td>   <td>323143</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TC12_Invalid_Street_address_with_valid_CityName_and_valid_StateName.handleTestMethodName(java.lang.reflect.Method)[pri:0, instance:stagingQA1.TC12_Invalid_Street_address_with_valid_CityName_and_valid_StateName@13ad2d6]">&gt;&gt;handleTestMethodName</td> 
<td>&nbsp;</td>  <td>TestNG@23657884</td>   <td></td> </tr>
<tr bgcolor="8a60e3">  <td>17/08/07 19:59:37</td>   <td>323143</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC12_Invalid_Street_address_with_valid_CityName_and_valid_StateName.invalid_Street_address_with_valid_CityName_and_valid_StateName()[pri:0, instance:stagingQA1.TC12_Invalid_Street_address_with_valid_CityName_and_valid_StateName@13ad2d6]">invalid_Street_address_with_valid_CityName_and_valid_StateName</td> 
  <td>TestNG@23657884</td>   <td></td> </tr>
<tr bgcolor="8a60e3">  <td>17/08/07 20:00:08</td>   <td>354155</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TC12_Invalid_Street_address_with_valid_CityName_and_valid_StateName.getResult(org.testng.ITestResult)[pri:0, instance:stagingQA1.TC12_Invalid_Street_address_with_valid_CityName_and_valid_StateName@13ad2d6]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>TestNG@23657884</td>   <td></td> </tr>
<tr bgcolor="b3acfe">  <td>17/08/07 20:00:08</td>   <td>354155</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BrowserStackTestNGTest.tearDown()[pri:0, instance:stagingQA1.TC12_Invalid_Street_address_with_valid_CityName_and_valid_StateName@13ad2d6]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>TestNG@23657884</td>   <td></td> </tr>
<tr bgcolor="b3acfe">  <td>17/08/07 20:00:09</td>   <td>354936</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BrowserStackTestNGTest.setUp(java.lang.String, java.lang.String)[pri:0, instance:stagingQA1.TC22_Zoom_In@85bdee]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>TestNG@23657884</td>   <td></td> </tr>
<tr bgcolor="8b7f67">  <td>17/08/07 20:00:12</td>   <td>357471</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TC22_Zoom_In.handleTestMethodName(java.lang.reflect.Method)[pri:0, instance:stagingQA1.TC22_Zoom_In@85bdee]">&gt;&gt;handleTestMethodName</td> 
<td>&nbsp;</td>  <td>TestNG@23657884</td>   <td></td> </tr>
<tr bgcolor="8b7f67">  <td>17/08/07 20:00:12</td>   <td>357471</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC22_Zoom_In.zoom_In()[pri:0, instance:stagingQA1.TC22_Zoom_In@85bdee]">zoom_In</td> 
  <td>TestNG@23657884</td>   <td></td> </tr>
<tr bgcolor="8b7f67">  <td>17/08/07 20:00:39</td>   <td>384651</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TC22_Zoom_In.getResult(org.testng.ITestResult)[pri:0, instance:stagingQA1.TC22_Zoom_In@85bdee]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>TestNG@23657884</td>   <td></td> </tr>
<tr bgcolor="b3acfe">  <td>17/08/07 20:00:39</td>   <td>384652</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BrowserStackTestNGTest.tearDown()[pri:0, instance:stagingQA1.TC22_Zoom_In@85bdee]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>TestNG@23657884</td>   <td></td> </tr>
<tr bgcolor="b3acfe">  <td>17/08/07 20:00:40</td>   <td>385475</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BrowserStackTestNGTest.setUp(java.lang.String, java.lang.String)[pri:0, instance:stagingQA1.TC23_Zoom_out@e92674]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>TestNG@23657884</td>   <td></td> </tr>
<tr bgcolor="c7a4e4">  <td>17/08/07 20:00:42</td>   <td>388072</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TC23_Zoom_out.handleTestMethodName(java.lang.reflect.Method)[pri:0, instance:stagingQA1.TC23_Zoom_out@e92674]">&gt;&gt;handleTestMethodName</td> 
<td>&nbsp;</td>  <td>TestNG@23657884</td>   <td></td> </tr>
<tr bgcolor="c7a4e4">  <td>17/08/07 20:00:42</td>   <td>388072</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC23_Zoom_out.zoom_out()[pri:0, instance:stagingQA1.TC23_Zoom_out@e92674]">zoom_out</td> 
  <td>TestNG@23657884</td>   <td></td> </tr>
<tr bgcolor="c7a4e4">  <td>17/08/07 20:01:16</td>   <td>421464</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TC23_Zoom_out.getResult(org.testng.ITestResult)[pri:0, instance:stagingQA1.TC23_Zoom_out@e92674]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>TestNG@23657884</td>   <td></td> </tr>
<tr bgcolor="b3acfe">  <td>17/08/07 20:01:16</td>   <td>421464</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BrowserStackTestNGTest.tearDown()[pri:0, instance:stagingQA1.TC23_Zoom_out@e92674]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>TestNG@23657884</td>   <td></td> </tr>
<tr bgcolor="b3acfe">  <td>17/08/07 20:01:16</td>   <td>422287</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BrowserStackTestNGTest.setUp(java.lang.String, java.lang.String)[pri:0, instance:stagingQA1.TC25_Result_Panel_Click_on_Bubble@100d6b1]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>TestNG@23657884</td>   <td></td> </tr>
<tr bgcolor="78f375">  <td>17/08/07 20:01:19</td>   <td>425097</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TC25_Result_Panel_Click_on_Bubble.handleTestMethodName(java.lang.reflect.Method)[pri:0, instance:stagingQA1.TC25_Result_Panel_Click_on_Bubble@100d6b1]">&gt;&gt;handleTestMethodName</td> 
<td>&nbsp;</td>  <td>TestNG@23657884</td>   <td></td> </tr>
<tr bgcolor="78f375">  <td>17/08/07 20:01:19</td>   <td>425097</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC25_Result_Panel_Click_on_Bubble.result_Panel_Click_on_Bubble()[pri:0, instance:stagingQA1.TC25_Result_Panel_Click_on_Bubble@100d6b1]">result_Panel_Click_on_Bubble</td> 
  <td>TestNG@23657884</td>   <td></td> </tr>
<tr bgcolor="78f375">  <td>17/08/07 20:01:53</td>   <td>459188</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TC25_Result_Panel_Click_on_Bubble.getResult(org.testng.ITestResult)[pri:0, instance:stagingQA1.TC25_Result_Panel_Click_on_Bubble@100d6b1]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>TestNG@23657884</td>   <td></td> </tr>
<tr bgcolor="b3acfe">  <td>17/08/07 20:01:53</td>   <td>459188</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BrowserStackTestNGTest.tearDown()[pri:0, instance:stagingQA1.TC25_Result_Panel_Click_on_Bubble@100d6b1]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>TestNG@23657884</td>   <td></td> </tr>
<tr bgcolor="b3acfe">  <td>17/08/07 20:01:54</td>   <td>459952</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BrowserStackTestNGTest.setUp(java.lang.String, java.lang.String)[pri:0, instance:stagingQA1.TC26_Get_direction_button@fd02e5]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>TestNG@23657884</td>   <td></td> </tr>
<tr bgcolor="c87b81">  <td>17/08/07 20:01:56</td>   <td>462075</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TC26_Get_direction_button.handleTestMethodName(java.lang.reflect.Method)[pri:0, instance:stagingQA1.TC26_Get_direction_button@fd02e5]">&gt;&gt;handleTestMethodName</td> 
<td>&nbsp;</td>  <td>TestNG@23657884</td>   <td></td> </tr>
<tr bgcolor="c87b81">  <td>17/08/07 20:01:56</td>   <td>462075</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC26_Get_direction_button.get_Direction_Button()[pri:0, instance:stagingQA1.TC26_Get_direction_button@fd02e5]">get_Direction_Button</td> 
  <td>TestNG@23657884</td>   <td></td> </tr>
<tr bgcolor="c87b81">  <td>17/08/07 20:02:28</td>   <td>493451</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TC26_Get_direction_button.getResult(org.testng.ITestResult)[pri:0, instance:stagingQA1.TC26_Get_direction_button@fd02e5]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>TestNG@23657884</td>   <td></td> </tr>
<tr bgcolor="b3acfe">  <td>17/08/07 20:02:28</td>   <td>493451</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BrowserStackTestNGTest.tearDown()[pri:0, instance:stagingQA1.TC26_Get_direction_button@fd02e5]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>TestNG@23657884</td>   <td></td> </tr>
<tr bgcolor="b3acfe">  <td>17/08/07 20:02:28</td>   <td>494247</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BrowserStackTestNGTest.setUp(java.lang.String, java.lang.String)[pri:0, instance:stagingQA1.TC30_Send_Location_details_to_email_address@1cab519]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>TestNG@23657884</td>   <td></td> </tr>
<tr bgcolor="97b678">  <td>17/08/07 20:02:31</td>   <td>496417</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TC30_Send_Location_details_to_email_address.handleTestMethodName(java.lang.reflect.Method)[pri:0, instance:stagingQA1.TC30_Send_Location_details_to_email_address@1cab519]">&gt;&gt;handleTestMethodName</td> 
<td>&nbsp;</td>  <td>TestNG@23657884</td>   <td></td> </tr>
<tr bgcolor="97b678">  <td>17/08/07 20:02:31</td>   <td>496417</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC30_Send_Location_details_to_email_address.send_location_details_to_email_address()[pri:0, instance:stagingQA1.TC30_Send_Location_details_to_email_address@1cab519]">send_location_details_to_email_address</td> 
  <td>TestNG@23657884</td>   <td></td> </tr>
<tr bgcolor="97b678">  <td>17/08/07 20:03:23</td>   <td>549195</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TC30_Send_Location_details_to_email_address.getResult(org.testng.ITestResult)[pri:0, instance:stagingQA1.TC30_Send_Location_details_to_email_address@1cab519]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>TestNG@23657884</td>   <td></td> </tr>
<tr bgcolor="b3acfe">  <td>17/08/07 20:03:23</td>   <td>549195</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BrowserStackTestNGTest.tearDown()[pri:0, instance:stagingQA1.TC30_Send_Location_details_to_email_address@1cab519]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>TestNG@23657884</td>   <td></td> </tr>
<tr bgcolor="b3acfe">  <td>17/08/07 20:03:24</td>   <td>549997</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BrowserStackTestNGTest.setUp(java.lang.String, java.lang.String)[pri:0, instance:stagingQA1.TC33_Search_radius_selection@45f292]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>TestNG@23657884</td>   <td></td> </tr>
<tr bgcolor="70999e">  <td>17/08/07 20:03:26</td>   <td>552093</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TC33_Search_radius_selection.handleTestMethodName(java.lang.reflect.Method)[pri:0, instance:stagingQA1.TC33_Search_radius_selection@45f292]">&gt;&gt;handleTestMethodName</td> 
<td>&nbsp;</td>  <td>TestNG@23657884</td>   <td></td> </tr>
<tr bgcolor="70999e">  <td>17/08/07 20:03:26</td>   <td>552093</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC33_Search_radius_selection.search_radius_selection()[pri:0, instance:stagingQA1.TC33_Search_radius_selection@45f292]">search_radius_selection</td> 
  <td>TestNG@23657884</td>   <td></td> </tr>
<tr bgcolor="70999e">  <td>17/08/07 20:04:09</td>   <td>595066</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TC33_Search_radius_selection.getResult(org.testng.ITestResult)[pri:0, instance:stagingQA1.TC33_Search_radius_selection@45f292]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>TestNG@23657884</td>   <td></td> </tr>
<tr bgcolor="b3acfe">  <td>17/08/07 20:04:09</td>   <td>595066</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BrowserStackTestNGTest.tearDown()[pri:0, instance:stagingQA1.TC33_Search_radius_selection@45f292]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>TestNG@23657884</td>   <td></td> </tr>
<tr bgcolor="b3acfe">  <td>17/08/07 20:04:10</td>   <td>595862</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BrowserStackTestNGTest.setUp(java.lang.String, java.lang.String)[pri:0, instance:stagingQA1.TC40_Header_Footer_links@12108b5]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>TestNG@23657884</td>   <td></td> </tr>
<tr bgcolor="d992b2">  <td>17/08/07 20:04:12</td>   <td>597968</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TC40_Header_Footer_links.handleTestMethodName(java.lang.reflect.Method)[pri:0, instance:stagingQA1.TC40_Header_Footer_links@12108b5]">&gt;&gt;handleTestMethodName</td> 
<td>&nbsp;</td>  <td>TestNG@23657884</td>   <td></td> </tr>
<tr bgcolor="d992b2">  <td>17/08/07 20:04:12</td>   <td>597968</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC40_Header_Footer_links.eader_Footer_links()[pri:0, instance:stagingQA1.TC40_Header_Footer_links@12108b5]">eader_Footer_links</td> 
  <td>TestNG@23657884</td>   <td></td> </tr>
<tr bgcolor="d992b2">  <td>17/08/07 20:04:53</td>   <td>638464</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TC40_Header_Footer_links.getResult(org.testng.ITestResult)[pri:0, instance:stagingQA1.TC40_Header_Footer_links@12108b5]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>TestNG@23657884</td>   <td></td> </tr>
<tr bgcolor="b3acfe">  <td>17/08/07 20:04:53</td>   <td>638464</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BrowserStackTestNGTest.tearDown()[pri:0, instance:stagingQA1.TC40_Header_Footer_links@12108b5]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>TestNG@23657884</td>   <td></td> </tr>
<tr bgcolor="eff760">  <td>17/08/07 20:04:54</td>   <td>639319</td> <td>&nbsp;</td><td title="&lt;&lt;TC7_invalid_postal_code.getResult(org.testng.ITestResult)[pri:0, instance:stagingQA1.TC7_invalid_postal_code@1ec2012]">&lt;&lt;getResult</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG@23657884</td>   <td></td> </tr>
</table>
